{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Activación de cuenta" %}{% endblock %}

{% block content %}
{% include 'partial/search.html' %}

{% if account %}

<p>{% trans "Cuenta activada con éxito" %}</p>

<p><a href="{% url auth_login %}">{% trans "Ingresar" %}</a></p>

{% else %}

<p>{% trans "La activación de cuenta ha fallado" %} !</p>

{% endif %}

{% endblock %}
