{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Activación de cuenta" %} | {% trans "Completa" %}{% endblock %}

{% block content %}

<div class="body" id="mail_activation_complete">
	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>Usuario</h2><h2 class="second_tit">activado</h2>
			</div>
			<p class="subtitulo">{% trans 'Tu cuenta fue validada con éxito' %}</p>
		</section>
	</header>
	
	<section class="container">
		<div class="row titulares">
			<h3 class="titulo_section">{% trans 'Registración completa' %}</h3>
		</div>
		<div class="row contenido">
			<!--columna izquierda -->
			<article id="col_center" class="col-md-8 col-md-offset-2col-md-10 col-md-offset-1">
				<p class=""><strong>{% trans 'Ya podés ingresar a tu perfil y comenzar a disfrutar de los beneficios de usar Panoplic.' %}</strong></p>
				<p id="ed_pu">
					<span><a href="{% url 'auth_login' %}" class="btn btn-danger">Inciar sesión</a></span>
				</p>
			</article>
			<!-- columna derecha -->
			<aside id="col_der" class="col-md-4 col-sm-5">
			</aside>
		</div>
	</section>
</div>
{% endblock %}