{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Login" %}{% endblock %}

{% block include_css_headers %}
<link type="text/css" href="{{ STATIC_URL }}css/registro.css" rel="stylesheet" />
{% endblock %}

{% block content %}


<div class="body con_search" id="loguin">
{% include 'partial/search.html' %}
	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>¡Bienvenido!</h2>
				<h2 class="second_tit">Inicia sesión</h2>
			</div>
			<p class="subtitulo">{% trans 'Elegí una opción para ingresar' %}</p>
		</section>
	</header>
	
	<section class="container">
		<div class="contenido row">
		  	<aside id="col_der" class="col-md-4 col-sm-5 col-md-push-8 col-sm-push-7">
		  		<div id="info">
					<h5>Al Ingresar podras:</h5>

					<ul id="bullets">
						<li>
							<i class="fa fa-search circlefa"></i>
							<p class="bullets_txt">
								<strong>Guardar búsquedas</strong>
								<span class="hidden-xs">
									{% trans ': da la oportunidad de guardar los criterios de búsqueda que utilizó, para consulta futura.' %}
								</span>
							</p>
						</li>
						<li>
							<i class="fa fa-heart circlefa"></i>
							<p class="bullets_txt">
								<strong> Guardar favoritos</strong>
								<span class="hidden-xs">
									{% trans ': podes guardar la información de las empresas que buscaste.' %}
								</span>
							</p>
						</li>
						<li>
							<i class="fa fa-bullhorn circlefa"></i>
							<p class="bullets_txt">
								<strong>Publicar tu empresa</strong>
								<span class="hidden-xs">
									{% trans ': Crear una ficha para que se muestre en el directorio.' %}
								</span>
							</p>
						</li>
					</ul>
				</div>
			</aside>
			
			<article id="col_izq" class="col-line col-md-8 col-sm-7 col-md-pull-4 col-sm-pull-5">
				<h5>{% trans 'Ingresá con redes sociales' %}</h5>
				<ul class="social-loguin">
	              <li><a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook btn-sm"><i class="fa fa-facebook"></i>{% trans 'Ingresá con Facebook' %}</a></li>
	              <li><a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google-plus btn-sm"><i class="fa fa-google-plus"></i>{% trans 'Ingresá con Google' %}</a></li>
	            </ul>
	            <hr>
	            <h5>{% trans "...o entrá a tu cuenta de Panoplic" %}</h5>
                {% if not form.username.errors and not form.password.errors %}
				<span class="txt_error"> {{ form.username.errors }} {{ form.non_field_errors }}</span>
				{% endif %}
				<form method="post" action="." id="form">
					{% csrf_token %}

					<div class="form_line">
					<h5> {{ form.username.label }} </h5>
					<input id="id_username" maxlength="254" name="username" type="text" class="form-control"></div>
					<span class="txt_error"> {{ form.username.errors }}</span>


					<div class="form_line"><h5> {{ form.password.label }} </h5>
					<input id="id_password" name="password" type="password" class="form-control"></div>
					<span class="txt_error"> {{ form.password.errors }} </span>
					<br />
					<input type="submit" class="btn btn-danger" value="{% trans 'Log in' %}" />
					<input type="hidden" name="next" value="{{ next }}" />
				</form>

				<p style="clear:both">{% trans "Olvidaste tu contraseña" %}? <a class="link" href="{% url 'auth_password_reset' %}">{% trans "Reestablecela" %}</a>!
					<br /> {% trans "No sos miembro" %}? <a href="{% url 'registration_register' %} " class="link">{% trans "Registrate" %}</a>!</p>
					<br>
			</article>
			
		</div>
	</section>
</div>
{% endblock %}