{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Reestablecimiento de contraseña" %}{% endblock %}

{% block include_css_headers %}
<link type="text/css" href="{{ STATIC_URL }}css/registro.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="body con_search" id="reset_paso1"> 
	{% include 'partial/search.html' %}
	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>{% trans 'Reestablecé' %}</h2><h2 class="second_tit">tu contraseña</h2>
			</div>
			<p class="subtitulo">{% trans 'Seguí estos pasos si olvidaste tu contraseña de acceso' %}</p>
		</section>
	</header>
	<section class="container">
		<div class="row contenido">
			<article id="col_central" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<h3 class="titulo_section ">{% trans 'Ingresá tu E-mail y te enviaremos el link para reestrablecer tu contraseña' %}</h3>
				<form method="post" action="." id="form">{% csrf_token %}
				  <input id="id_email" maxlength="254" name="email" type="email" class="form-control" placeholder="Correo electrónico asociado a tu cuenta">
				  <input type="submit" value="{% trans 'Enviar' %}" class="btn btn-danger large-btn" />
				  
				  <p><a class="link" onclick="history.back()">volver</a></p>
				</form>
			</article>
		</div>
	</section> 
</div>
{% endblock %}
