{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Reestablacer contraseña" %} | {% trans "Completado" %}{% endblock %}

{% block include_css_headers %}
<link type="text/css" href="{{ STATIC_URL }}css/registro.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="body con_search" id="reset_paso4">
 	{% include 'partial/search.html' %} 
  	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>{% trans 'Contraseña' %}</h2><h2 class="second_tit">{% trans 'reestablecida' %}</h2>
			</div>
			<p class="subtitulo">{% trans 'Tu solicitud fue exitosa' %}</p>
		</section>
	</header>
   
   <section class="container">
		<div class="contenido row">
			<article id="col_central" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<h3 class="titulo_section text-center">{% trans "La contraseña fue modificada correctamente." %}</h3>
				<p class="text-center"><a href="{% url 'auth_login' %}" class="btn btn-danger large-btn">{% trans "Ingresar" %}</a></p>
			</article>
		</div>
    </section> 
</div>

{% endblock %}
