{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {%trans "Password Reset" %} | {%trans "Complete" %}{% endblock %}

{% block include_css_headers %}
<link type="text/css" href="{{ STATIC_URL }}css/registro.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="body con_search" id="reset_paso2">
{% include 'partial/search.html' %}
	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>{% trans 'Reestablecé' %}</h2>
				<h2 class="second_tit">{% trans 'tu contraseña' %}</h2>
			</div>
			<p class="subtitulo">{% trans 'Seguí estos pasos si olvidaste tu contraseña de acceso' %}</p>
		</section>
	</header>
	<section class="container">
		<div class="contenido row">
			<article id="col_central" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<h3 class="titulo_section text-center">{% trans "Se te envió un e-mail a tu correo electrónico para que puedas reiniciar tu contraseña" %}</h3>
				<a href="{% url 'home' %}" class="btn btn-danger large-btn">{% trans 'Página principal' %}</a>
			</article>
		</div>
	</section>
</div>
{% endblock %}
