{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {%trans "Reestablecimiento de contraseña" %}{% endblock %}

{% block include_css_headers %}
<link type="text/css" href="{{ STATIC_URL }}css/registro.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="body con_search" id="reset_paso3"> 
{% include 'partial/search.html' %}
	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>{% trans 'Reestablecé' %}</h2><h2 class="second_tit">tu contraseña</h2>
			</div>
			<p class="subtitulo">{% trans 'Seguí estos pasos si olvidaste tu contraseña de acceso' %}</p>
		</section>
	</header>
	 
	<section class="container">
		<div class="row contenido">
			<article id="col_central" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				{% if validlink %}
				<h3 class="titulo_section text-center">{% trans 'Completá los campos a continuación para reestablecer tu contraseña de acceso.' %}</h3>
				<form method="post" action="." id="form">{% csrf_token %}
			  						<div class="form_line top">
							<input id="id_new_password1" name="new_password1" type="password" class="form-control mid" placeholder="nueva contraseña">
						</div>
						<div class="form_line bot">
							<input id="id_new_password2" name="new_password2" type="password" class="form-control bot" placeholder="nueva contraseña (confirmar )">			
						</div>
				  <input type="submit" value="{% trans 'Aceptar' %}" class="btn btn-danger large-btn"/>
				</form>
				{% else %}
				<h3>{% trans "Tu contraseña no pudo ser reestablecida. Quizás se trate de un link demasiado antiguo o incorrecto. Para volver a intentarlo, clickeá el botón a continuación.
" %}</h3>
				<a href="{% url 'auth_password_reset' %}" class="btn btn-danger large-btn"/>Reestablecer contraseña</a>
				{% endif %}
			</article>
		</div>
	</section> 
</div>
{% endblock %}
