{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{{ block.super }} | {% trans "Cambiar contraseña" %}{% endblock title %}

{% block content %}
   
<div class="body" id="cambiar_contraseña">   
   	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>{% trans 'Modificá' %}</h2><h2 class="second_tit">tu contraseña</h2>
			</div>
			<p class="subtitulo">{% trans 'Editá tu contraseña de manera muy simple' %}</p>
		</section>
	</header>

	<section class="container">
		<div class="row contenido">
		   <article id="col_central" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		   <h3 class="titulo_section text-center">{% trans "Ingresá tu nueva contraseña" %}</h3>
		   <br>
				<form method="post" action="">
					{% csrf_token %}
					{{ form.non_field_errors }}
					<div class="bloque-input vertical">
						<div class="form_line">
							{{ form.old_password.errors }}
							<input id="id_old_password" name="old_password" type="password" class="form-control top" placeholder="Contraseña actual">
						</div>
						<div class="form_line">
							{{ form.new_password1.errors }}
							<input id="id_new_password1" name="new_password1" type="password" class="form-control mid" placeholder="Nueva contraseña">
						</div>
						<div class="form_line">
							{{ form.new_password2.errors }}
							<input id="id_new_password2" name="new_password2" type="password" class="form-control bot" placeholder="Repetí la nueva contraseña">			
						</div>
					</div>
					<input type="submit" value="{% trans 'Enviar' %}" class="btn btn-danger large-btn">
				</form>
			</article>
		</div>
	</section>
</div>
{% endblock content %}
