{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Registro de cuenta" %} | {% trans "Completo" %}{% endblock %}

{% block content %}
<div class="body con_search" id="registro_completo_usuario">
	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>Usuario</h2>
				<h2 class="second_tit">registrado</h2>
			</div>
			<p class="subtitulo">{% trans "¡Gracias por formar parte de Panoplic!" %}</p>
		</section>
	</header>
	<section class="container">
		<div class="row titulares">
			<h3 class="titulo_section col-md-12">{% trans "Te enviamos un e-mail para activar tu cuenta." %}</h3>
		</div>
		<div class="row contenido">
			<!--columna izquierda -->
			<article id="col_central" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			
				<p class="">{% trans 'Validá tu cuenta e ingresá a tu perfil para completar tus datos y empezar a realizar búsquedas.' %}</p>
				<p id="ed_pu">
					<span><a href="{% url 'home' %}" class="btn btn-danger">Ir al Inicio</a></span>
				</p>

			</article>		
		</div>
	</section>
</div>
{% endblock %}