{% extends "base.html" %}
{% load i18n %}
{% load guide_extras %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | {% trans "Registro de cuenta" %}{% endblock %}

{% block content %}
<div class="body" id="registro_usuario">
    <header>
        <section class="jumbotron">
            <div class="container">
                <h2>Bienvenido!</h2><h2 class="second_tit">Registrate</h2>
            </div>
            <p class="subtitulo">{% trans 'Elegí una de las opciones' %}</p>
        </section>
    </header>
    
    <section class="container">
        <div class="row contenido"> 
           <h3 class="titulo_section col-md-12 hidden-xs">{% trans 'Creá tu cuenta ahora, ¡es muy fácil!' %}</h3>
			
            <!-- columna derecha -->
            <aside id="col_der" class="col-md-4 col-sm-5 col-md-push-8 col-sm-push-7">
                <div id="info">
                    <h5>{% trans 'Los usuarios activos pueden:' %}</h5>
                    <ul id="bullets">
                        <li class="alpha">
                            <i class="fa fa-list circlefa"></i>
                            <p class="bullets_txt">
                                <strong>Guardar búsquedas</strong>
                                <span class="hidden-xs"><br> {% trans 'Revisá palabras, criterios y filtros aplicados en consultas históricas' %}
                                </span>
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-heart circlefa"></i>
                            <p class="bullets_txt"><strong>Marcar favoritos</strong>
                                <span class="hidden-xs">
                                    <br>
                                    {% trans 'Accedé fácilmente a las páginas de tus comercios y empresas preferidas' %}
                                </span>
                            </p>
                        </li>
                        <li class="omega">
                            <i class="fa fa-bullhorn circlefa"></i>
                            <p class="bullets_txt">
                                <strong>Publicar empresa</strong>
                                <span class="hidden-xs">
                                    <br> 
                                    {% trans 'Difundí y vendé tus productos o servicios de seguridad a la comunidad ' %}
                                </span>
                            </p>
                        </li>
                    </ul>
                    <p class="info-section">{% trans "Si ya estás registrado en Panoplic" %} 
                        <a href="{% url 'auth_login' %}" class="link">{% trans "iniciá sesión aquí" %}</a>
                    </p>              
                </div>
            </aside>

            <!--columna_izquierda-->
            <article id="col_izq" class="col-line col-md-8 col-sm-7 col-md-pull-4 col-sm-pull-5">
                <h5>{% trans 'Ingresá mediante tus redes sociales (recomendado)' %}</h5>
                <ul class="social-loguin">
                    <li>
                        <a href="{% url 'social:begin' 'facebook' %}"
                                class="btn btn-block btn-social btn-facebook btn-sm">
                            <i class="fa fa-facebook"></i>{% trans 'Ingresá con Facebook' %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'social:begin' 'google-oauth2' %}"
                                class="btn btn-block btn-social btn-google-plus btn-sm">
                            <i class="fa fa-google-plus"></i>{% trans 'Ingresá con Google' %}
                        </a>
                    </li>
                </ul>
                <br>
                <h5>{% trans '...o completá el siguiente formulario' %}</h5>
                <form action="." method="POST" id="form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="bloque-input vertical">
                        {% render_field form.first_name class="form-control top" placeholder=form.first_name.label %}
                        {{ form.first_name.errors }}
                        {% render_field form.last_name class="form-control bot" placeholder=form.last_name.label %}
                        {{ form.last_name.errors }}
                    </div>
                    <div class="bloque-input vertical">
                        {% render_field form.country class="form-control top" %}
                        {{ form.country.errors }}
                        {% render_field form.province class="form-control mid" %}
                        {{ form.province.errors }}
                  		{% render_field form.city class="form-control bot" %}
                        {{ form.city.errors }}
                    </div>
                    <div class="bloque-input vertical">
                        {% render_field form.email class="form-control top" placeholder=form.email.label %}
                        {{ form.email.errors }}
                        {% render_field form.password1 class="form-control mid" placeholder=form.password1.label %}
                        {{ form.password1.errors }}
                        {% render_field form.password2 class="form-control bot" placeholder=form.password2.label %}
                        {{ form.password2.errors }}   
                    </div>
                   	<p class="term">{% trans 'Al registrarme, acepto los' %} 
                   	<a class="link" href="{% url 'terms-conditions' %}" target="_blank">Términos y Condiciones</a>
                    <span class="hidden-ss"> de Panoplic.</span></p>

					<input type="submit" value="{% trans 'Registrarme' %}" id="btn_registrarme" class="btn btn-danger" />
				</form>
			</article>
		</div>
	</section>


</div>
{% endblock %}
