{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<div class="body" id="">
	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>ERROR</h2>
				<h2 class="second_tit">500</h2>
			</div>
			<p class="subtitulo">{% trans 'Error en el servidor' %}</p>
		</section>
	</header>

	<section class="container">
		<div class="row contenido">
			
			<article id="col_center" class="col-md-10 col-md-offset-1">
			<h3 class="titulo_section text-center">{% trans 'Te recomendamos usar el buscador o visitar la sección Ayuda' %}</h3>
				
			</article>
						<div class="col-md-8 col-md-offset-2">
			<br>
				<div class="btn-group btn-group-justified" role="group">
					<a class="btn btn-info" href="{% url 'how-it-works' %}">{% trans 'Cómo funciona' %}</a>
                    <a class="btn btn-info" href="{% url 'how-to-register' %}" >{% trans 'Cómo registrarse' %}</a> 
					<a class="btn btn-info" href="{% url 'scope' %}">{% trans 'Alcances de tu cuenta' %}</a>
					<a class="btn btn-info" href="{% url 'how-to-publish' %}">{% trans 'Cómo publicar tu empresa' %}</a>				
				</div>
			</div>
		</div>
	</section>
</div>  
    
{% endblock %}