{% load i18n %}
{% load guide_extras %}
{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html prefix="og: http://ogp.me/ns#">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% trans 'Directory of companies related to the issue of security' %}" />
    <meta property="og:title" content="{% block share_title %}Panoplic{% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" 
        content="{% block share_img %}http://{% sitedomain %}{% static 'img/logo.jpg' %}{% endblock %}"/>
    {% comment %}
    <meta property="og:description" content="{% trans "Directory of companies related to the issue of security" %}" />
    <meta property="og:locale" content="es_AR" />
    <meta property="og:locale:alternate" content="es_ES" />
    <meta property="og:locale:alternate" content="en_GB" />
    {% endcomment %}

    <title>{% block title %}Panoplic{% endblock %}</title>
    
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" >
    <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="{% static 'css/ui-lightness/jquery-ui.min.css' %}">
    {% block include_css_headers %}{% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
</head>

<body>
    {% if messages %}
    <div class="flash_msg_cont">
        <div class="flash_msg">
        {% for message in messages %}
            {{ message }}<br/>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle nav-bar-main" type="button" data-toggle="collapse"
                        data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand">Panoplic</a>
               
                 {% if user.is_authenticated %}
                <button class="navbar-toggle nav-bar-user logueado" type="button" data-toggle="collapse" data-target="#navbar-user">
                   
                         <div class="avatar">
                                <img src="{{ MEDIA_URL }}{{ user.profile.avatar }}" class="img-circle">
                        
                        </div>  </button>
                     {% else %}
                       <button class="navbar-toggle nav-bar-user" type="button" data-toggle="collapse" data-target="#navbar-user">
                <i class="fa fa-user"></i>
                  </button>
                {% endif %}
              
            </div>
            
             <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
                    Segmentos <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="themes">
                    <li><a href="{% url 'segments:homes' %}">{% trans 'Hogares' %}</a></li>
                    <li><a href="{% url 'segments:businesses' %}">{% trans 'Comercios' %}</a></li>
                    <li><a href="{% url 'segments:vehicles' %}">{% trans 'Vehículos' %}</a></li>
                    <li><a href="{% url 'segments:enterprises' %}">{% trans 'Empresas' %}</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
                        Ayuda <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="{% url 'how-it-works' %}">{% trans 'Cómo funciona' %}</a></li>
                        <li><a href="{% url 'how-to-register' %}">{% trans 'Cómo registrarse' %}</a></li>
                        <li><a href="{% url 'scope' %}">{% trans 'Alcance de tu cuenta' %}</a></li>
                        <li><a href="{% url 'how-to-publish' %}">{% trans 'Cómo publicar tu Empresa' %}</a></li>
                    </ul>
                </li>
              </ul>       
            </div>
            
            <div class="navbar-collapse collapse" id="navbar-user">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <div class="avatar hidden-xs">

                            <a href="{% url 'profile' user.profile.pk %}">

                                <img src="{{ MEDIA_URL }}{{ user.profile.avatar }}" class="img-circle">
                            </a>
                        </div>
                        <li id="showuser"> 
                            <a href="{% url 'profile' user.profile.pk %}"><span class="hidden-xs">{{ user.username }}</span><span class="visible-xs">Mi perfil</span></a>
                        </li>
                        <li id="publicar_empresa">
                            {% if user.profile.company %}
                               <a href="{% url 'company_profile' %}">{% trans "Perfil de empresa" %}</a>
                            {% else %}
                                <a href="{% url 'company_register' %}">{% trans "Publicar empresa" %}</a>    
                            {% endif %}
                        </li>
                        <li id="logout">
                            <a href="{% url 'auth_logout' %}" class="rojo">{% trans "logout" %}</a>
                        </li>     
                    {% else %}
                        <!-- SIN AUTENTICACION -->
                        <li>
                            <a href="#" onclick="$('#login_pop').show();$('#usuario').focus();">
                                {% trans "Iniciá sesión" %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'registration_register' %}">
                                {% trans "Registrate " %}
                            </a>
                        </li>
                    
                        <li><a href="{% url 'company_register' %}">{% trans "Publicá tu Empresa" %}</a>
                        </li>
                    {% endif %} 
                </ul>
            </div>
        </div>
    </nav>   

    <!-- POP UP LOGIN -->
    <div id="login_pop">
        <div class="modal_body">
            <a href="#" onclick="$('#login_pop').hide()"><i id="cerrar" class="fa fa-close"></i></a>
            <h3>{% trans 'Accedé a tu cuenta' %}</h3>
            
            <p>{% trans 'Ingresá mediante tus redes sociales' %}</p>
            <ul class="social-loguin">
                <li>
                    <a href="{% url 'social:begin' 'facebook' %}"
                            class="btn btn-block btn-social btn-facebook btn-sm">
                        <i class="fa fa-facebook"></i>{% trans 'Ingresá con Facebook' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'social:begin' 'google-oauth2' %}"
                            class="btn btn-block btn-social btn-google-plus btn-sm">
                        <i class="fa fa-google-plus"></i>{% trans 'Ingresá con Google' %}
                    </a>
                </li>
            </ul>
            <p>{% trans '...o entrá a tu cuenta de Panoplic.' %}</p>
            <form id="form_login" action="{% url 'auth_login' %}" method="POST">
                {% csrf_token %}
                <input class="form-control" type="text" id="usuario" name="username"
                    placeholder="{% trans 'Usuario' %}" />
                <input class="form-control" type="password" id="psswd" name="password"
                    placeholder="{% trans 'Contraseña' %}"/>

                <a href="{% url 'auth_password_reset' %}" class="link">{% trans 'Olvidé mi contraseña' %}</a>
                <input type="hidden" name="next" value="{{ request.path }}" id="login_next"/>

                <input type="submit" value="Entrar" class="btn btn-danger"/>
                <div id="check">
                    <input type="checkbox" id="sesion" class="form-control"/>
                    <label for="sesion" class="label_ses" >{% trans 'No cerrar sesión' %}</label>
                </div>
            </form>
            <div class="lin_az"></div>
            <label class="label_ses">
                {% trans 'Si todavía no sos usuario,' %}
                <a href="{% url 'registration_register' %}" class="link">{% trans 'Registrate ahora' %}</a>
            </label>
        </div>
    </div>

    {% block content %}{% endblock %}

    <footer id="footer">
        <section id="footer_int" class="container">
            <ul class="row">
                <li>Panoplic &reg; 2015 </li> 
                <li>| <a href="{% url 'terms-conditions' %}">{% trans ' Términos y condiciones ' %}</a> |</li>
                <li> <a href="{% url 'contact' %}">{% trans 'Contacto' %}</a> </li>   
            </ul>
        </section>   
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/compdir-min.js' %}"></script>
    {% block include_js %}{% endblock include_js %}
</body>

</html>
