{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load guide_extras %}
{% load compdir_extras %}

{% block title %}{{ block.super }} | {% trans "Empresas" %}{% endblock %}

{% block content %}
<div class="body con_search" id="">  
  	{% include 'partial/search.html' %}

    <section class="container">
        <div class="row">
            <div id="contenido" class="col-md-8">
                <h3 class="titulo_section">
                  <span class="hidden-xs">{% trans 'Resultados de búsqueda' %}<small>| </small></span>
                  <small><strong> {{ page_obj.paginator.count }} </strong> resultados encontrados</small>
                </h3>
    		</div>
        </div>

        <div class="row contenido">
       		<!-- columna derecha -->
		    <aside id="col_der" class="col-md-3 col-sm-12 col-md-push-9 hidden-ss">
  	       	    {% if user.is_authenticated %}
                <div id="cont_filtros_guardar" class="hidden-xs">
                    <div id="cont_guardar">
                        <div id="guardar">
                            <a href="#" id="open-save-dialog">
                            <h5><i class="fa fa-search-plus nocircle"></i>Guardar búsqueda</h5></a>
                        </div>
                    </div> 
      
                    <div id="login_pop_bus">
                        <a href="#" id="close-save-dialog">
                          <div id="cerrar"><i class="fa fa-close fa-xs"></i></div>
                        </a>
                        <h4>{% trans 'Guardar búsqueda' %}</h4>
                        <div class="lin_az"></div>
                        <p id="guardar_txt">{% trans 'Ingresa un nombre para asignar a esta búsqueda' %}</p>
                        <div id="form_login">
                            <input type="text" id="nom_busqueda" class="form-control" />
                            <input type="submit" value="Guardar" id="save-search">
                        </div>
                        <div class="lin_az"></div>
                    </div>
                </div>
		        {% endif %}
		    </aside>  
           
           
            <!--columna izquierda -->
    		<article id="col_izq" class="col-lg-8 col-md-9 col-sm-12 col-md-pull-3">
    			{% if companies %}
    				{% for company in companies %}
    				<div class="cuadro_empresa row">	
        				<div class="descripcion-result col-md-9 col-sm-9 col-xs-10">
							<div class="brand-result">
								<a href="{% url 'company_view' company.id company.name|slugify %}">
									<img class="logo_empresa img-responsive" src="{{ MEDIA_URL }}{{ company.logo }}" />
								</a>
							</div>
        					<h3 class="brand-name">
            					<a href="{% url 'company_view' company.id company.name|slugify %}">
                                    {{ company.name }}
                                </a>
                                <small>
                                     | {{ company.object.category|default_if_none:'' }}
                                </small>
        					</h3>
    						<p class="brand-info">
							   <span class="hidden-xs hidden-sm">Dirección: </span>
								{{ company.address }} 
                                {{ company.city|default:'' }} 
								<br>
   								<span class="hidden-xs hidden-sm">Tel:</span> 
   								{{ company.phone }}
   								<br>
    							<span class="hidden-xs hidden-sm">Sitio web:</span>
    							<a class="link" href="{{ company.website }}" target="_blank">
    							{{ company.website|remove_http }}
    							</a>
    						</p>
    	              		<span class="brand-rating">
                          		<div class="star star-{{ company.mean_rating|default_if_none:0|floatformat:0 }}"></div>
                          		<small>| {{ company.review_set.all|length }} Opiniones</small>
	                        </span>
        				</div>
        				
        				<div class="ampliar-result col-md-3 col-sm-3 col-xs-2">
        					<a class="btn btn-default" href="{% url 'company_view' company.id company.name|slugify %}">
        						<span class="hidden-xs">{% trans 'Ver empresa ' %}</span>
                                <i class="fa fa-angle-right"></i>
        					</a>
        				</div>
    			    </div>
    				{% endfor %}
    			{% endif %}

                {% if page_obj.has_other_pages %}
                    <nav id="mas_resultados">
                        {% limit_range page_obj 3 as limited_range %}
                        <ul class="pagination">
                            {% if not page_obj.number == 1 %}
                                <li>
                                    <a href="{% add_query page=1 %}">
                                        |&lt;
                                    </a>
                                </li>
                                <li>
                                    <a href="{% add_query page=page_obj.previous_page_number %}">
                                        &lt;
                                    </a>
                                </li>
                            {% endif %}

                            {% for n in limited_range %}
                                {% if n == page_obj.number %}
                                    <li class="active">
                                        <span>{{ n }}</span>
                                    </li>
                                {% elif forloop.first and n > 1 or forloop.last and n < page_obj.paginator.num_pages %}
                                    <li>
                                        <span>...</span>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{% add_query page=n %}">
                                            {{ n }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if not page_obj.number == page_obj.paginator.num_pages %}
                                <li>
                                    <a href="{% add_query page=page_obj.next_page_number %}">
                                        &gt;
                                    </a>
                                </li>
                                <li>
                                    <a href="{% add_query page=page_obj.paginator.num_pages %}">
                                        &gt;|
                                    </a>
                                </li>
                            {% endif %}  
                        </ul>
                    </nav>
                {% endif %}
    		</article>
    </section>   
</div><!--body-->   
{% endblock %}
