{% extends "base.html" %}
{% load i18n %}
{% load guide_extras %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | {% trans "Empresa" %} | {{ company.name }}{% endblock %}
{% block share_title %}{{ block.super }} | {{ company.name }}{% endblock %}
{% block share_img %}http://{% sitedomain %}{{ MEDIA_URL }}{{ company.logo }}{% endblock %}

{% block include_css_headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/star-rating.min.css' %}" />  
{% endblock include_css_headers %}

{% block content %}
<div class="body" id="ficha_empresa">
	<div class="container">
		<header id="header-company" class="row">
			<div id="cont_logo_titulo" class="col-md-6 col-sm-6 col-xs-12">
				<div class="avatar">
					<img id="logo_empresa" src="{{ MEDIA_URL }}{{ company.logo }}" class="img-responsive" />
				</div>
				<div id="titulo">
					<h2>{{ company.name }}</h2>
					{% if company.category %}
					<p class="text-capitalize">{{ company.category.name }}
					{% endif %}
					<br>{{ company.city|default:'' }} </p>
					<div class="star-company">
						<p>	
							<div class="star 
								star-{{ company.mean_rating|default_if_none:0|floatformat:0 }}">
							</div> | 
                            {% with review_count=review_list|length %}
                                {{ review_count }} reseña{{ review_count|pluralize }}
                            {% endwith %}
                        </p>
					</div>
				</div>
			</div>
			<div class="control-btns col-md-6 col-sm-6 col-xs-12">
				<!--<button class="btn sharebtn">
					<i class="fa fa-share-alt"></i> 
					<h5> Compartir</h5>
					{% include 'partial/share.html' %}
				</button>-->
                {% if company.email %}
                    <a href="mailto:{{ company.email }}" target="_blank">
                        <button sharebtnid="contactar" class="btn contactbtn">
                                <i class="fa fa-envelope"></i> 
                                <h5> Contactar</h5>
                        </button>
                    </a>
                {% endif %}
				{% favorite company %}
			</div>
			<div class="col-md-12">
				<hr>
			</div>
		</header>

		<section id="mapa" class="row contenido">
			<div class="col-md-12">
				<iframe 
                    width="1140"
                    height="200"
                    frameborder="0"
                    style="border:0" 
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDKIKyUW4fjdIzPFvXx4tXw5alS0IXEAmQ
                        &q={{ encoded_address|iriencode }}"
                    allowfullscreen>
                </iframe>

				{% if user.is_authenticated %}
				<div id="company-report" class="bloque">
					<button id="report-comp-btn" class="appear report">
						<span class="report-txt">{% trans '¿Hay algún problema con esta empresa?' %}</span> 
						<i class="fa fa-flag"></i>
					</button>
					
					<form action="{% url 'report_company' company.id %}" class="cartel-report" style="display: none">
						{% csrf_token %}
						<button class="report-close" type="button"><i class="fa fa-close"></i></button>
						<p><strong>{% trans ' Reportá a la empresa a continuación' %}</strong></p>
						<select name="motive" class="form-control">
							<option value="" selected>
                                {% trans "Motivo" %}
                            </option>
							<option value="BREAKS_TERMS">
                                {% trans "Viola los Términos y Condiciones de Panoplic" %}
                            </option>
							<option value="DOES_NOT_EXIST">
                                {% trans "La empresa no existe" %}
                            </option>
							<option value="WRONG_INFO">
                                {% trans "La información de la empresa es incorrecta " %}
                            </option>
						</select>
						<div style="display: none">
							<p>{% trans '¿Querés brindar más información al respecto?' %}</p>
							{{ company_report_form.text|add_class:"form-control" }}
							<input type="submit" value="{% trans 'Submit' %}" class="btn btn-danger btn-xs">
						</div>
					</form>
				</div>
				{% endif %}
			</div>
		</section>

		<section id="company-data" class="row contenido">
			<article id="col_izq" class="col-md-7 col-sm-6 col-xs-12">
				<!--DATOS-->			
				<article id="bloque_datos" class="row bloque text-left">         
				 <div class="col-md-6 col-sm-6 col-xs-6">
				  	<p><span class="nombre_campo">Tel.: </span><a href="tel:{{ company.phone }}" class="nolink" onClick="return (navigator.userAgent.match(/Android|iPhone|iPad|iPod|Mobile/i))!=null;" title="Click para llamar desde su celular">{{ company.phone }}</a></p>
			 		<p><span class="nombre_campo">Dirección: </span>{{ company.address }} {{ company.address_number|default:'' }}</p>
				
				 	<p><span class="nombre_campo">E-mail: </span>{{ company.email|default:'' }}</p>
					<p>
                        <span class="nombre_campo">
                            Sitio web: 
                            <a href="{{ company.website }}" class="link" target="_blank">{{ company.website }}</a>
                        </span>
                    </p>					

				
				  </div>
				  <div class="col-md-6 col-sm-6 col-xs-6">  
				  	<p><span class="nombre_campo">País: </span>{{ company.country }}</p> 
				  	<p><span class="nombre_campo">Provincia: </span>{{ company.province|default:'' }}</p> 
					<p><span class="nombre_campo">Ciudad: </span>{{ company.city|default:'' }}</p> 
				 </div>
				</article>

				<!--PRODUCTOS-->
				{% if company.products.all %}
				<article id="bloque_prod"  class="bloque text-left">
					<h5>
						<a class="collapsed desplegables" data-toggle="collapse" data-parent="#accordion"
								href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							<i class="fa fa-chevron-right"></i>{% trans ' Producto o  servicio que ofrece' %}
						</a>
					</h5>
					<div id="collapseTwo" class="panel-collapse collapse.in" role="tabpanel"
							aria-labelledby="headingTwo" style="display:none;">
						<div class="panel-body">
							<p>
								{% for product in company.products.all %}
									{{ product.name }}
									{% if not forloop.last %}
										/
									{% endif %}
								{% endfor %}
							</p>
						</div>
					</div>
				</article>
				{% endif %}

				<!--SERVICIOS-->
				{% if company.services.all %}
				<article id="bloque_serv"  class="bloque text-left">
					<h5>
						<a class="collapsed desplegables" data-toggle="collapse" data-parent="#accordion"
								href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							<i class="fa fa-chevron-down"></i>{% trans '  Tipo de contratación' %}
						</a>
					</h5>
					<div id="collapseThree" class="panel-collapse collapse.in" role="tabpanel"
							aria-labelledby="headingThree">
						<div class="panel-body">
							<p>
							{% for service in company.services.all %}
								{{ service.name }}
								{% if not forloop.last %}
									/
								{% endif %}
							{% endfor %}
							</p>
						</div>
					</div>  
				</article>
				{% endif %}

				<!--DESCRIPCION-->
				{% if company.description %}
				<article id="bloque_desc" class="bloque text-left">
					<h5>
						<a class="desplegables" data-toggle="collapse" href="#collapseExample"
								aria-expanded="false" aria-controls="collapseExample">
							<i class="fa fa-chevron-down"></i>{% trans ' Sobre la empresa' %}
						</a>
					</h5>
					<div class="collapse.in" id="collapseExample">
						<div class="panel-body">
							<p>{{ company.description }}</p>
						</div>
					</div>
				</article>  
				{% endif %} 
			</article>
				        
            <aside id="col_der" class="col-md-5 col-sm-6 col-xs-12">
				<div id="imagenes_ficha" class="">
					 <div id="bloque_fotos">     
						<a href="#">
							<img class="bigthumb featured" src="#">
						</a>
						{% if company.image1 %}
						<a href="#">
						   <img class="bigthumb active_thumb" src="{{ MEDIA_URL }}{{ company.image1 }}">
						   <img class="foto_thumb" src="{{ MEDIA_URL }}{{ company.image1 }}">   
						</a>
						 {% endif %}
					   {% if company.image2 %}
						<a href="#">
							<img class="bigthumb" src="{{ MEDIA_URL }}{{ company.image2 }}">
							<img class="foto_thumb" src="{{ MEDIA_URL }}{{ company.image2 }}"> 
						</a>
					  {% endif %}
					   {% if company.image3 %}
						<a href="#">
							<img class="bigthumb" src="{{ MEDIA_URL }}{{ company.image3 }}">
							<img class="foto_thumb" src="{{ MEDIA_URL }}{{ company.image3 }}">
						</a>
						 {% endif %}
					</div>
                </div>

          		<!--TAGS-->
				{% if company.tags.all %}
				<div id="keywords" class="bloque">
					<i class="fa fa-tags"></i><h5>Términos relacionados</h5>
					{% for tag in company.tags.all %}
					   <p><a href="{% url 'search' %}?companies_text={{ tag.name }}">{{ tag.name }}</a></p>
					   {% if not forloop.last %} | {% endif %}
					{% endfor %}
				</div>
				{% endif %}		
            </aside>      
		</section>  

		<section id="users-review" class="row"> 
			<div class="col-md-8 col-sm-12"><!--all reviews-->
				{% if user.is_authenticated and user not in company.get_reviewers and company != user.profile.company%}
                    <div id="write-review" class="bloque row">
    					<article class="user-data col-md-2 col-sm-2 col-xs-3">
    						<img src="{{ MEDIA_URL }}{{ user.profile.avatar }}" class="img-circle img-responsive">
                            <p class="comment_username text-center">{{ user.username }}</p>
    					</article>
    					<aside class="review-data col-md-10 col-sm-10 col-xs-9">
                        <h5>{% trans 'Tu experiencia ayuda  a otros usuarios a tomar mejores decisiones, ¡compartila acá!:' %}</h5>
    						<form id="review-form" action="" method="post"
                                    enctype="multipart/form-data">
                                {% csrf_token %}
    							{{ review_form.non_field_errors }}
                                {{ review_form.title.errors }}
                                {% render_field review_form.title placeholder="Titulo de tu opinión" class="form-control" %}
    							{{ review_form.text.errors }}
    							{% render_field review_form.text placeholder="Escribí tu opinión acá. ¡Gracias por compartir con la comunidad Panoplic!" class="form-control" %}
    							<div class="show-upload-images">
                                    <button type="button" class="btn btn-warning upload" role="button" data-toggle="collapse" href="#uploadimg" aria-expanded="false" aria-controls="uploadimg">
                                        <i class="fa fa-paperclip"></i>
                                    </button>
        							<ul id="uploadimg" class="upload-images collapse" >
                                        <li>
                                            {{ review_form.image1.errors }}
                                            {{ review_form.image1 }}
                                        </li>
                                        <li>
                                            {{ review_form.image2.errors }}
                                            {{ review_form.image2 }}
                                        </li>
                                        <li>
                                            {{ review_form.image3.errors }}
                                            {{ review_form.image3 }}
                                        </li>
                                    </ul>
                                </div>
                                
                                <span class="star-txt">Tu calificación para esta empresa </span>
                               	{{ review_form.rating.errors }}
                                <input type="number" name="rating" id="input-1" class="rating" data-min="0"
                                    data-max="5" data-step="1" data-symbol="&#xf005;" data-glyphicon="false"
                                    data-rating-class="rating-fa" data-size="xs">
                                <input type="submit" value="{% trans 'Submit' %}" class="btn btn-danger">
                            </form>	
    					</aside>
				    </div>
                {% endif %}

                {% if review_list %}
                  <h3>{% trans 'Opiniones sobre la empresa' %}</h3>
                    <div id="arrange" class="bloque row">
                        <div class="col-md-12 aqualine">
                            Ordenar por:
                            <div class="btn-group" role="group" aria-label="...">
                                <a type="button" class="btn btn-info btn-xs" 
                                    href="{% url 'company_view' company.id company.name|slugify %}?rsort={{ by_upvotes }}#users-review">Votos</a>
                                <a type="button" class="btn btn-info btn-xs" 
                                    href="{% url 'company_view' company.id company.name|slugify %}?rsort={{ by_date }}#users-review">Fecha</a>
                                <a type="button" class="btn btn-info btn-xs" 
                                    href="{% url 'company_view' company.id company.name|slugify %}?rsort={{ by_rating }}#users-review">Valoración</a>
                            </div> 	
                        </div>
                    </div>

					{% for review in review_list %}
				    <div id="people-review" class="review row">
    					<article class="user-data col-md-2 col-sm-2 col-xs-3">
                            <img src="{{ MEDIA_URL }}{{ review.user.profile.avatar }}"
                                class="img-circle img-responsive comment_avatar">
                            <p class="comment_username">
                                <a type="button" data-toggle="modal" data-target="#profile_modal_{{ forloop.counter }}">
                                    {{ review.user.username }}
                                </a>
                            </p>
                            <p class="user_rank">{{ review.user.profile.get_rank|default:'' }}</p>         
                        </article>
                        <aside class="review-data col-md-10 col-sm-10 col-xs-9">
                            <span class="review-rating"> 
                                <input class="rating star-block" data-disabled="true" value="{{ review.rating }}"
                                    data-symbol="&#xf005;" data-glyphicon="false" data-rating-class="rating-fa"
                                    data-size="xs">
                            </span>
                            <h6 class="review_tit">{{ review.title }}</h6>
							<p class="review-text">{{ review.text }}</p>
    						<ul class="review-images"> 
                                {% if review.image1 %}
        							<li>
                                        <a href="#" data-toggle="modal" 
                                                data-target="#modal_image1_{{ forloop.counter }}">
                                            <img class="rev-image1 img-responsive" 
                                                src="{{ MEDIA_URL }}{{ review.image1 }}">
                                        </a>
        							</li>
                                    <!-- lightbox -->
                                    <div class="modal fade lightbox" id="modal_image1_{{ forloop.counter }}" 
                                            tabindex="-1" role="dialog" aria-labelledby="review-images-label" 
                                            aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <button type="button" class="close" data-dismiss="modal" 
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>  
                                                <img class="rev-image1 img-responsive caption" 
                                                    src="{{ MEDIA_URL }}{{ review.image1 }}">
                                            </div>
                                        </div>
                                    </div>                                  
                                    <!-- Fin del lightbox -->
    							{% endif %}
								{% if review.image2 %}
                                    <li>
                                        <a href="#" data-toggle="modal" 
                                                data-target="#modal_image2_{{ forloop.counter }}">
    								        <img class="rev-image2 img-responsive" 
                                                src="{{ MEDIA_URL }}{{ review.image2 }}">
                                   		</a>    
                                    </li>
                                    <!-- lightbox -->
                                    <div class="modal fade lightbox" id="modal_image2_{{ forloop.counter }}" 
                                            tabindex="-1" role="dialog" aria-labelledby="review-images-label" 
                                            aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>  
                                                <img class="rev-image2 img-responsive caption" 
                                                    src="{{ MEDIA_URL }}{{ review.image2 }}">     
                                            </div>
                                        </div>
                                    </div>                                  
                                    <!-- Fin del lightbox -->
    							{% endif %}
    							{% if review.image3 %}
                                    <li>
                                   		<a href="#" data-toggle="modal" 
                                                data-target="#modal_image3_{{ forloop.counter }}">
    								        <img class="rev-image3 img-responsive" 
                                                src="{{ MEDIA_URL }}{{ review.image3 }}">
										</a>
                                        
                                    </li>
                                    <!-- lightbox -->
                                    <div class="modal fade lightbox" id="modal_image3_{{ forloop.counter }}" 
                                            tabindex="-1" role="dialog" aria-labelledby="review-images-label" 
                                            aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>  
                                                <img class="rev-image3 img-responsive caption" 
                                                    src="{{ MEDIA_URL }}{{ review.image3 }}">     
                                            </div>
                                        </div>
                                    </div>                                  
                                    <!-- Fin del lightbox -->
    							{% endif %} 
    						</ul>

							{% if user.is_authenticated and user != review.user %}
    							<form action="{% url 'upvote' review.id %}" method="post" class='upvote-form'>
    								{% csrf_token %}
    								{{ upvote_form.non_field_errors }}
    								{% if review.has_user_vote %}
    									<button type="submit" name="unvoted" class='btn btn-warning vote-btn btn-xs' >
                                            {{ downvote_text }}
    									</button>
    								{% else %}
    								    <button type="submit" name="upvoted" class='btn btn-warning vote-btn btn-xs'>
								            {{ upvote_text }}
                                        </button> 
    								{% endif %}
    							</form>
                                <article class="bloque">
                                    <button class="report-review-btn appear report">
                                        <span class="report-txt">{% trans 'Reportar esta opinión' %}</span> <i class="fa fa-flag"></i>
                                    </button>
                                    <form action="{% url 'report_review' review.id %}"  class="cartel-report" 
                                            style="display: none">
                                        {% csrf_token %}
                                        <button class="report-close" type="button">X</button>
                                        <select name="motive">
                                            <option value="" selected>
                                                {% trans "Seleccionar..." %}
                                            </option>
                                            <option value="BREAKS_TERMS">
                                                {% trans "La opinión viola los Términos y Condiciones de Panoplic" %}
                                            </option>
                                            <option value="BY_OWNER">
                                                {% trans "La opinión fue escrita por alguien de la empresa" %}
                                            </option>
                                            <option value="BY_COMPETITOR">
                                                {% trans "La opinión fue escrita por alguien de la competencia" %}
                                            </option>
                                        </select>
                                        <div style="display: none">
                                            ¿Querés brindar más información al respecto?
                                            {{ review_report_form.text }}
                                            <input type="submit" value="{% trans 'Submit' %}">
                                        </div>
                                    </form>
                                </article>
							{% elif user.is_authenticated and user == review.user %}
                                <div id="confirm-delete" class="mensaje-box" style="display: none">
                                    {% trans "¿Estás seguro de que querés borrar este comentario? " %}
                                    <button id="delete-ok" class="btn btn-danger btn-xs">{% trans "Eliminar" %}</button>
                                    <button id="delete-cancel" class="btn btn-danger btn-xs">{% trans "Cancelar" %}</button>
                                </div>
							    <a class="review-edit link" href="{% url 'edit_review' review.id %}">Editar</a> | 
							    <a class="review-delete link" href="{% url 'delete_review' review.id %}">Borrar</a>
							{% endif %}

							{% blocktrans with upvotes=review.upvotes %}
                                A <span class="vote-count">{{ upvotes }}</span> 
                                persona{{ upvotes|pluralize }} les resultó útil esta opinión 
                            {% endblocktrans %}

							<p class="post-date">Publicada el {{ review.created_on|date:"DATETIME_FORMAT" }}</p>
                        </aside>
                    </div>
                    <!-- Modal de perfil de usuario-->
                    <div class="modal fade" id="profile_modal_{{ forloop.counter }}" tabindex="-1" role="dialog" 
                            aria-labelledby="userprofile_modal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h5 class="modal-title text-left" id="userprofile_modal">Perfil Usuario</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="row datos-perfil">
                                        <div class="mi-info">
                                            <div class="col-md-4">
                                                <div id="avatar" class="mi-avatar">
                                                    <img src="{{ MEDIA_URL }}{{ review.user.profile.avatar }}" 
                                                        class="img-circle">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <ul class="mis-datos">
                                                    <li class="mi-nombre">
                                                        {{ review.user.get_full_name }}
                                                    </li>
                                                    <li>
                                                        {{ review.user.profile.get_rank|default:'' }}
                                                    </li>
                                                    {% with review_count=review.user.review_set.count %}
                                                        {{ review_count }} 
                                                        Reseña{{ review_count|pluralize }}
                                                    {% endwith %}  
                                                    <li>
                                                        {{ review.user.profile.city }}
                                                    </li>
                                                    <li>
                                                        {{ review.user.profile.province }}, 
                                                        {{ review.user.profile.country }}
                                                    </li> 
                                                </ul> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- Fin del Modal --> 
					{% endfor %}

                    {% if is_paginated %}
                        <span class="page-links">
                            {% if reviews_page.has_previous %}
                                <a href="?page={{ reviews_page.previous_page_number }}">Anterior</a>
                            {% endif %}
                            
                            <span class="current">
                                {{ reviews_page.start_index }}-{{ reviews_page.end_index }} de 
                                {{ reviews_page.paginator.count }} reseñas.
                            </span>

                            {% if reviews_page.has_next %}
                                <a href="?page={{ reviews_page.next_page_number }}">Siguiente</a>
                            {% endif %}
                        </span>
                    {% endif %}
				{% endif %}
			</div>
		</section> 
	</div>
	</div>
</div>
{% endblock content %}

{% block include_js %}
    <script src="{% static 'js/company-min.js' %}"></script>
{% endblock include_js %}
