{% extends "base.html" %}
{% load i18n %}
{% load guide_extras %}
{% load staticfiles %}

{% block title %}{{ block.super }} | {% trans "Registrar empresa" %} | {% trans "Finalizado" %}{% endblock %}
{% block include_css_headers %}
<link type="text/css" href="{% static 'css/edicion-perfil.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="body con_search" id="confirmacion_registro_empresa">
	{% include 'partial/search.html' %}
	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>Empresa</h2>
				<h2 class="second_tit">registrada</h2>
			</div>
			<p class="subtitulo">{% trans '¡Gracias por tu interés en formar parte de nuestro directorio!' %}</p>
		</section>
	</header>

	<section class="container">
		<div class="row contenido">
			<h3 class="titulo_section col-md-12">{% trans '¡Tu empresa ya está registrada!' %}</h3>
			<article id="col_center" class="col-md-8 col-md-offset-2">
				<p>{% trans 'Estamos procesando la información recibida antes de publicarla. Te enviaremos un e-mail para notificarte.' %}</p>
				<p><strong>{% trans "¡Hacé tu publicación más efectiva!" %}</strong></p>
				<ul class="square">
					<li><i class="fa fa-user"></i> {% trans 'Subí el logo de tu empresa' %}</li>
					<li><i class="fa fa-file-image-o"></i> {% trans 'Agregá imágenes a tu perfil' %}</li>
					<li><i class="fa fa-map-marker"></i> {% trans 'Completá los datos de contacto' %}</li>
				</ul>
				<a href="{% url 'company_profile' %}" class="btn btn-danger">{% trans 'Editá el perfil de tu empresa' %}</a>
			</article>
		</div>
	</section>
</div>
{% endblock %}