{% extends "base.html" %}
{% load i18n %}
{% load guide_extras %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | {% trans "Registrar empresa" %}{% endblock %}

{% block content %}

<div class="body" id="registro_empresa">
    <header>
        <section class="jumbotron">
            <div class="container">
                <h2>{% trans 'Registrá' %}</h2>
                <h2 class="second_tit">tu empresa</h2>
            </div>
            <p class="subtitulo">{% trans 'Llegá a tus<span class="hidden-xs"> potenciales</span> clientes sin<span class="hidden-xs"> inversión</span><span class="visible-xs"> costo</span>' %}</p>
        </section>
    </header>

    <section class="container">
        <div class="row contenido">
            <h3 class="titulo_section col-md-7">{% trans 'Formá parte de nuestro directorio' %}</h3>
        </div>
            <div class="row contenido">
             <p class="info-section col-md-7 col-sm-7">
                   {% trans 'Si tu empresa ya aparece en Panoplic y querés asociarla a tu cuenta de usuario, envianos un e-mail a ' %} 
                    <a class="link" href="mailto:info@panoplic.com">info@panoplic.com</a>
                </p>
           </div>
            <div class="row contenido">
            <!-- columna derecha -->
            <aside id="col_der" class="col-md-4 col-sm-5 col-md-push-8 col-sm-push-7">
                <div id="info">
                    <div class="cartel">
                        <i class="fa fa-search circlefa"></i>
                        <p>{% trans '¡Fijate si tu empresa ya existe en Panoplic!' %}</p>
                        <a href="{% url 'home' %}" target="_blank">
                            <button class="btn btn-danger">{% trans 'Buscar' %}</button>
                        </a>
                    </div>
                </div>
            </aside>
            
            <article id="col_izq" class="col-line col-md-8 col-sm-7 col-md-pull-4 col-sm-pull-5"> 
                <div id="cont_form">
                    <form action="register" method="post" id="form">
                        {{ form.non_field_errors }}
                        {% csrf_token %}
                        <div class="bloque-input vertical">
                            <div class="form_line">
                                {% render_field form.name class="form-control top" placeholder="Nombre de Empresa" %}
                                {{ form.name.errors }}
                            </div>
                            <div class="form_line">
                                {% render_field form.legal_name class="form-control mid" placeholder="Razón Social" %}
                                {{ form.legal_name.errors }}
                            </div>
                            <div class="form_line">
                                {% render_field form.cuit class="form-control bot" placeholder="CUIT" %}
                                {{ form.cuit.errors }}
                            </div>
                        </div>
                        <div class="bloque-input vertical">
                            <div class="form_line">
                                {% render_field form.phone class="form-control top" placeholder="Teléfono" %}
                                {{ form.phone.errors }}
                            </div>
                            <div class="form_line">
                                {% render_field form.website class="form-control mid" placeholder="Sitio web" %}
                                {{ form.website.errors }}
                            </div>
                            <div class="form_line">
                                {% render_field form.email class="form-control bot" placeholder="E-mail" %}
                                {{ form.email.errors }}
                            </div>
                        </div>
                        <div class="bloque-input vertical">
                            <div class="form_line">
                                {% render_field form.address class="form-control top" placeholder="Calle" %}
                                {{ form.address.errors }}
                            </div>
                            <div class="form_line">
                                {% render_field form.address_number class="form-control mid" placeholder="Numeración" %}
                                {{ form.address_number.errors }}
                            </div>
                            <div class="form_line">
                                {% render_field form.country class="form-control mid" %}
                                {{ form.country.errors }}
                            </div>
                            <div class="form_line">
                                {% render_field form.province class="form-control mid" %}
                                {{ form.province.errors }}
                            </div>
                            <div class="form_line">
                                {% render_field form.city  class="form-control mid" %}
                                {{ form.city.errors }}
                            </div>
                        </div>  
                        <div class="bloque-input vertical">
                            <label for="contact_name">{% trans 'Datos de responsable' %}</label>        
                            <input type="text" maxlength="50" name="contact_name" id="id_contact_name"  
                                placeholder="Nombre de contacto" class="form-control top">
                            {{ form.contact_name.errors }}
                        </div>
                        <br>        
                        <p class="term">
                            {% blocktrans %}
                            Una vez recibida tu solicitud, se verificará la información para corroborar la veracidad de 
                            los datos. Panoplic se reserva el derecho a no publicar la información que considere, por 
                            cualquier motivo, inadecuada.<br>
                            Al registrarte, aceptás los
                            {% endblocktrans %}
                            <a class="link" href="{% url 'terms-conditions' %}" target="_blank">
                                {% trans "Términos y Condiciones" %}
                            </a> 
                            {% trans "de Panoplic." %}
                        </p>
                        <input type="submit" value="Registrate" class="btn-danger" />
                    </form>
                </div>
            </article>
        </div>
    </section>
</div>
{% endblock %}
