{% extends "base.html" %}
{% load i18n %}
{% load guide_extras %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | {% trans "Editar perfil de empresa" %}{% endblock %}

{% block content %}
<div class="body" id="perfil_empresa">
	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>Perfil</h2>
				<h2 class="second_tit">Empresa</h2>
			</div>
			<p class="subtitulo">
				{% trans '<span class="hidden-xs">Controlá, visualizá y </span>editá la información de tu página' %}
			</p>
		</section>
	</header>

	<section class="container">
		<div class="row contenido">
			<h3 class="titulo_section col-md-12">{% trans 'Modificá los datos registrados de tu empresa' %}</h3>
			<!-- columna derecha -->
			<aside id="col_der" class="col-md-4 col-sm-5 col-md-push-8 col-sm-push-7">
				{% if company.active %}
				<div class="text-center">
					<a class="btn btn-primary btn-sm" href="{% url 'company_view' company.id company.name|slugify %}">
						{% trans 'Ver mi empresa publicada' %}
					</a>
				</div>
				<br>
				{% endif %}
				<div id="avatar" class="bloque aqualine">
					<i class="fa fa-user nocircle"></i><h5>{% trans ' Logo de empresa' %}</h5>
					{% include "partial/avatar.html" with id="logo" div_id="logo_empresa" avatar_path=company_form.logo.value.name upload_action="/upload_logo/" delete_action="/delete_logo" %}
				</div>
				<div class="bloque aqualine">
					<i class="fa fa-map-marker nocircle"></i><h5>Ubicaci&oacute;n</h5>
					<div id="mapa">
						<iframe width="320" height="412" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.ar/maps?q={{ encoded_address|iriencode }}&amp;hl=es&amp;ie=UTF8&amp;t=m&amp;hq=&amp;hnear={{ encoded_address|iriencode }}&amp;z=14&amp;output=embed&amp;iwloc=near"></iframe>
					</div>
				</div>
				
				<div class="bloque aqualine">
					<i class="fa fa-tags nocircle"></i><h5>{% trans 'Términos de búsqueda' %}</h5>
					<p class="txt_chico">
						<span class="hidden-xs">
							{% trans 'Los términos de búsqueda con palabras clave que aumentan la posibilidad de que los usuarios encuentren tu anuncio. Los términos que elijas deben tener relación con tu empresa y podés ingresar cuantos creas necesarios.' %}
						</span>
					</p>
					{{ company_form.tags|attr:"form:form" }}
					<p class="txt_chico">{% trans 'Separá con una coma (,) las palabras clave.' %}</p>
				</div>	
			</aside>
			
			<form action="{% url 'company_profile' %}" method="POST" id="form" enctype="multipart/form-data">
				<article id="col_izq" class="col-line col-md-8 col-sm-7 col-md-pull-4 col-sm-pull-5">
					{% csrf_token %}
					{{ company_form.non_field_errors }}
						
					<div class="bloque">
						<h5 class="dato">{% trans 'Datos Privados' %}</h5>
						<div class="form_line medio_uno">
                        	<label>{% trans 'Razón Social' %}</label>
							{% render_field company_form.legal_name class="form-control"  %}
							{{ company_form.legal_name.errors }}
						</div>

						<div class="form_line medio_dos">
                        	<label>{% trans 'CUIT' %}</label>
							{% render_field company_form.cuit class="form-control"  %}
							{{ company_form.cuit.errors }}
						</div>

						<div class="form_line medio_uno">
                            <label>{% trans 'Nombre de contacto' %}</label>
							<input type="text" maxlength="50" name="contact_name" id="id_contact_name" 
								value="{{ user.get_full_name }}" class="form-control">
						</div>
					</div>							
										
					<div class="bloque">
						<h5 class="dato">{% trans 'Datos Públicos' %}</h5>
						<div class="form_line medio_uno">
							<label>{% trans 'Nombre de la empresa' %}</label>
							{% render_field company_form.name  class="form-control" %}
							{{ company_form.name.errors }}
						</div>

						<div class="form_line">
	                    	<label>{% trans 'Sitio Web' %}</label>
							{% render_field company_form.website  class="form-control" %}
							{{ company_form.website.errors }}
						</div>

						<div class="form_line medio_uno">
	                    	<label>{% trans 'E-mail' %}</label>
							{% render_field company_form.email  class="form-control" %}
							{{ company_form.email.errors }}
						</div>

						<div class="form_line medio_dos">
	                    	<label>{% trans 'Teléfono' %}</label>
							{% render_field company_form.phone class="form-control"  %}
							{{ company_form.phone.errors }}
						</div>

						<div class="form_line medio_uno">
	                    	<label>{% trans 'Calle' %}</label>
							{% render_field company_form.address class="form-control"  %}
							{{ company_form.address.errors }}
						</div>

						<div class="form_line medio_dos">
	                    	<label>{% trans 'Número' %}</label>
							{% render_field company_form.address_number class="form-control"  %}
							{{ company_form.address_number.errors }}
						</div>

						<div class="form_line medio_uno">
	                    	<label>{% trans 'País' %}</label>
							{% render_field company_form.country class="form-control"  %}
							{{ company_form.country.errors }}
						</div>


						<div class="form_line medio_dos">
	                    	<label>{% trans 'Provincia' %}</label>
							{% render_field company_form.province class="form-control"  %}
							{{ company_form.province.errors }}
						</div>

						<div class="form_line medio_uno">
	                    	<label>{% trans 'Ciudad' %}</label>
							{% render_field company_form.city class="form-control"  %}
							{{ company_form.city.errors }}
						</div>
				
						<div class="form_line">
							<label>{% trans 'Información de tu empresa' %}</label>
							{{ company_form.description|add_class:"form-control"}}
						</div>

						<div class="form_line">
							<label>{% trans 'Productos/Servicios' %}</label>
							<p class="txt_chico">
								Mantené presionala la tecla Control (“Ctrl”) para seleccionar más de una categoría.
							</p>
							{{ company_form.products|add_class:"form-control" }}
							{{ company_form.products.errors }}
						</div>
					
						<div class="form_line">
							<label>{% trans 'Tipo de servicios' %}</label>
							<p class="txt_chico">
								Mantené presionala la tecla Control (“Ctrl”) para seleccionar más de una categoría.
							</p>
							{{ company_form.services|add_class:"form-control" }}
							{{ company_form.services.errors }}
						</div>
						
						<div id="imagenes_aside" class="form_line">
							<label>Imágenes</label>
							<p class="txt_chico">
								{% trans 'Al subir una imagen, certificás que tenés derecho a distribuir esta imagen y que la misma no infringe los ' %}
								<a href="{% url 'terms-conditions' %}" class="txt_chico link">{% trans 'Términos y Condiciones</a> de Panoplic.' %}
							</p>

							<div id="foto1">
								<a href="#input_image1" class="upload_link">
								{% if not company_form.image1.value %}
								<img id="imagen1" src="{% static 'img/subi_foto.png' %}"/>
								{% else %}
								<img id="imagen1" src="{{ MEDIA_URL }}{{ company_form.image1.value.name }}" border="0"/>
								{% endif %}
								<img id="uploading1" src="{% static 'img/subiendo_foto.png' %}" style="display:none;"/>
								</a>
							</div>

							<div id="foto2" >
								<a href="#input_image2" class="upload_link">
								{% if not company_form.image2.value %}
								<img id="imagen2" src="{% static 'img/subi_foto.png' %}" />
								{% else %}
								<img id="imagen2" src="{{ MEDIA_URL }}{{ company_form.image2.value.name }}" border="0" />
								{% endif %}
								<img id="uploading2" src="{% static 'img/subiendo_foto.png' %}" style="display:none;"/>
								</a>
							</div>

							<div id="foto3" >
								<a href="#input_image3" class="upload_link">
								{% if not company_form.image3.value %}
								<img id="imagen3" src="{% static 'img/subi_foto.png' %}"  />
								{% else %}
								<img id="imagen3" src="{{ MEDIA_URL }}{{ company_form.image3.value.name }}" border="0" />
								{% endif %}
								<img id="uploading3" src="{% static 'img/subiendo_foto.png' %}" style="display:none;"/>
								</a>
							</div>

							<input type="file" name="image1" id="input_image1" style="display:none;" />
							<input type="file" name="image2" id="input_image2" style="display:none;" />
							<input type="file" name="image3" id="input_image3" style="display:none;" />
						</div>
					</div>

					<div id="save">
						<input type="submit" value="Guardar" id="btn_guardar" class="btn-danger" />
					</div>
				</article>
			</form>	
		</div>	
	</section>
</div>
{% endblock %}

