{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %} {{ block.super }} | {% trans "Acerca de" %} | {% trans "Cuenta" %}{% endblock %} {% block include_css_headers %}
<link type="text/css" href="{% static 'css/notas.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'css/index.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'css/staticas.css' %}" rel="stylesheet" /> 
{% endblock %}

{% block content %}
<div class="body con_search" id="contact">
{% include 'partial/search.html' %}
	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>Contactate</h2>
				<h2 class="second_tit">con Panoplic</h2>
			</div>
			<p class="subtitulo">{% trans '¡Es bueno estar conectados!' %}</p>
		</section>
	</header>

	<section class="container">
		<div class="row contenido">
		<h3 class="info-section col-md-12">{% trans 'Completá tus datos para comunicarte con nosotros' %}</h3>
		<p class="col-md-12 info-section">{% trans 'Te contactaremos a la brevedad.' %}</p>
			<article id="col_izq" class="col-line col-md-8 col-sm-7">
				<div id="cont_como">
					<div id="contact_form">
						<form id="form" action="http://www.uss-mo.com/panoplic/contacto_up.php" method="post">
						<div class="bloque-input vertical">
							<div class="form_line">
								<input id="name" name="name" type="text" class="text form-control top" value="" placeholder="Nombre" />
							</div>
							<div class="form_line">
								<input id="tel" name="tel" type="text" class="text form-control mid" value="" placeholder="Teléfono"/>
							</div>

							<div class="form_line">
								<input id="email" name="email" type="text" class="text form-control bot" value="" placeholder="E-mail" />
							</div>
							</div>

							<div class="form_line last">
								<textarea name="msj" class="text form-control" id="msj" placeholder="Mensaje"></textarea>
							</div>

							<p>
								<input type="submit" name="button" id="button" value="Enviar Consulta" class="btn btn-danger" />
							</p>
						</form>
					</div>
				</div>
			</article>
			<!--col_izq-->
			<aside id="col_der" class="col-lg-3 col-md-4 col-sm-5">

				<div id="social_btns">
					<h5>{% trans '¡Visitá nuestras redes sociales y seguinos!' %}</h5>
					<a href="#" class="face_btn img-circle" href="https://www.facebook.com/panoplic" target="_blank"></a>
						<a href="#" class="google_btn img-circle"  href="https://plus.google.com/u/0/b/107916264287227864981/107916264287227864981/posts"></a>
					<a href="#" class="linkedin_btn img-circle" ></a>
					
				
					<!--<a class="twitter_btn text-hide" href="https://twitter.com/Panoplicweb" target="_blank"><i class="fa fa-twitter"></i>Twitter</a>
					<a class="youtube_btn text-hide" href="http://www.youtube.com/user/Panoplic" target="_blank"><i class="fa fa-youtube"></i>youtube</a>
					<a class="pinterest_btn text-hide" href="http://pinterest.com/panoplic" target="_blank"><i class="fa fa-pinterest"></i>pinterest_btn</a>-->
				</div>
				<div class="cartel"><i class="fa fa-search circlefa"></i><p>{% trans '¡Fijate si tu empresa ya aparece en Panoplic!' %}<br>{% trans 'Y si la encontrás, asociala a tu usuario, escribiéndonos a <a class="link" href="mailto:info@panoplic.com">info@panoplic.com</a>' %}</p><btn class="btn btn-danger">{% trans 'Buscar' %}</btn> </div>
			</aside>
		</div>
	</section>
</div>
<!--body-->
{% endblock %}