{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }} | {% trans "Acerca de" %} | Panoplic{% endblock %}
{% block content %}

<div class="body" id="ayuda">
	<header>
		<section class="jumbotron">
			<div class="container">
				<h2 class="second_tit">Ayuda</h2>
				<h2>{% trans 'Cómo funciona' %}</h2>
			</div>
			<p class="subtitulo">{% trans 'Obtené resultados más precisos' %}</p>
		</section>		
	</header>

	<section class="container">
		<div class="row contenido menu-ayuda hidden-ss">
			<div class="col-md-6">
				<div class="btn-group btn-group-justified" role="group">
				<a href="" class="btn btn-info active">{% trans 'Cómo funciona' %}</a>
				<a href="{% url 'how-to-register' %}" class="btn btn-info">{% trans 'Cómo registrarse' %}</a> 
				<a href="{% url 'scope' %}" class="btn btn-info">{% trans 'Alcances de tu cuenta' %}</a>
				<a href="{% url 'how-to-publish' %}" class="btn btn-info">{% trans 'Cómo publicar tu empresa' %}</a>
				</div>
			</div>
		</div>
		<div class="row contenido">
			<article id="col_izq" class="col-md-6 col-sm-7">
			<h3 class="titulo_section">{% trans '¿Cómo realizo una búsqueda?' %}</h3>
		
			{% blocktrans %} 
			<p>Al ingresar al sitio, podrás realizar consultas con tan sólo escribir el nombre del producto, servicio o 
			empresa de tu interés en el casillero de búsqueda central. Al presionar el botón <strong>"Buscar"</strong>, 
			Panoplic arrojará una lista con todos los resultados relacionados a la palabra clave que hayas escrito.</p>
			<p>Entre los resultados aparecerán los proveedores disponibles, con sus respectivos datos contacto, en caso 
			de que necesites realizar una consulta, recibir asesoramiento, conocer otros servicios o simplemente 
			comprar.</p>
			<p>Para los usuarios minuciosos, existe posibilidad de agregar filtros adicionales a la búsqueda y obtener 
			así resultados más precisos.</p>
			{% endblocktrans %}

			<p class="term">
				{% trans 'Encontrar lo que buscás es muy fácil desde la página de inicio' %}
				<br>
				<a href="{% url 'home' %}" class="btn btn-danger" target="_blank">
					{% trans 'Buscar empresa' %}
				</a>
			</p>
			
			</article>
			<!--col_izq-->
			<aside id="col_der" class="col-md-offset-1 col-md-5 col-sm-5 hidden-ss">
				<div class="img_desc ">
					<img class="img-responsive" src="{{ STATIC_URL }}img/how_to.png" alt="Buscador" />
					<div class="epigrafe">
						<p>{% trans 'Encontrar lo que buscás es muy fácil desde la página de inicio' %}</p>
					</div>
				</div>
			</aside>
		</div>
	</section>
</div>
{% endblock %}