{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }} | {%trans "Acerca de" %} | {% trans "Publicar" %}{% endblock %}

{% block content %}

<div class="body" id="ayuda">
	<header>
		<section class="jumbotron">
		<div class="container">
			<h2 class="second_tit">Ayuda</h2>
			<h2>{% trans 'Cómo publicar en Panoplic' %}</h2>
		</div>
		<p class="subtitulo">{% trans 'Anunciá tu marca en nuestro directorio' %}</p>
		</section>
	</header>
	
	<section class="container"> 
<div class="row contenido menu-ayuda hidden-ss">
			<div class="col-md-6">
				<div class="btn-group btn-group-justified" role="group">
				<a href="{% url 'how-it-works' %}" class="btn btn-info">{% trans 'Cómo funciona' %}</a>
				<a href="{% url 'how-to-register' %}" class="btn btn-info">{% trans 'Cómo registrarse' %}</a> 
				<a href="{% url 'scope' %}" class="btn btn-info">{% trans 'Alcances de tu cuenta' %}</a>
				<a href="{% url 'how-to-publish' %}" class="btn btn-info active">{% trans 'Cómo publicar tu empresa' %}</a>
				</div>
			</div>
		</div>
			<div class="row contenido">

        <article id="col_izq" class="col-md-6 col-sm-6">
              <h3 class="titulo_section">{% trans 'Quiero sumar mi comercio o empresa a Panoplic' %}</h3>
				
				<p>{% trans 'Formá parte de nuestro directorio de empresas de seguridad, sin costo alguno, para llegar a tus potenciales clientes en todo momento.' %}</p>
				<p>{% trans 'Para participar, ingresá la siguiente información:' %}</p>
				
				<ol id="tips">
					<li>{% trans 'Nombre de la empresa' %}</li>
					<li>{% trans 'Información de contacto' %}</li>
					<li>{% trans 'Ubicación geográfica de la empresa' %}</li>
				</ol>
							
				<p>{% trans 'Todo el contenido del sitio requerirá de una validación previa antes de ser publicado. Una vez que recibamos su solicitud, chequearemos la información para corroborar la autenticidad de los datos.' %}</p>
				<p>{% trans 'Panoplic se reserva el derecho a no publicar la información que considere, por cualquier motivo, inadecuada.' %}</p>
				
				<p class="term">{% trans 'Si deseás publicar tu empresa ahora, ' %}<br>
				<a href="{% url 'company_register' %}" class="btn btn-danger">{% trans "Publicá tu Empresa" %}</a>
			<br>
				<a href="{% url 'company_register' %}">{% trans "Publicá tu Empresa" %}</a>
				<br>
				<span class="letra_chica">{% trans '* Panoplic se reserva discrecionalmente el derecho a no publicar aquellas informaciones que considere inadecuadas a su finalidad.' %}</span>
				</p>
				
			<!--col_izq-->
        </article>
        <aside id="col_der" class="col-md-offset-1 col-md-5 col-sm-5 hidden-ss">
        	<div class="img_desc">
        		<img class="img-responsive" src="{% static 'img/how_publish.png' %}" alt="Registro de empresa" />
       		 	<div class="epigrafe"><p>{% trans 'Sumá tu empresa a Panoplic.' %}</p></div>
			</div>
		</aside>
	</div><!-- contenido-->
</section>
</div><!--body-->    
    
{% endblock %}