{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }} | {%trans "Acerca de" %} | {% trans "Registro" %}{% endblock %}

{% block content %}
<div class="body" id="ayuda"> 
<header>
    <section class="jumbotron">
        <div class="container">
            <h2 class="second_tit">Ayuda</h2>
            <h2>{% trans 'Sobre el Registro' %}</h2>
        </div>
        <p class="subtitulo">{% trans 'Es simple y lleva sólo unos minutos' %}</p>
    </section>      
</header>
<section class="container">
    <div class="row contenido menu-ayuda hidden-ss">
        <div class="col-md-6">
            <div class="btn-group btn-group-justified" role="group">
            <a href="{% url 'how-it-works' %}" class="btn btn-info">{% trans 'Cómo funciona' %}</a>
            <a href="{% url 'how-to-register' %}" class="btn btn-info active">{% trans 'Cómo registrarse' %}</a> 
            <a href="{% url 'scope' %}" class="btn btn-info">{% trans 'Alcances de tu cuenta' %}</a>
            <a href="{% url 'how-to-publish' %}" class="btn btn-info">{% trans 'Cómo publicar tu empresa' %}</a>
            </div>
        </div>
    </div>
    <div class="row contenido">
        <article id="col_izq" class="col-md-6 col-sm-6">
            <h3 class="titulo_section">{% trans '¿Cómo me registro?' %}</h3>
            <div id="cont_como">
                <p>
                    {% trans 'Creá una cuenta propia, con la que podrás escribir opiniones sobre empresas, y guardar información sobre búsquedas a las que necesites acceder con frecuencia.' %}
                </p>
                <p>{% trans 'Para hacerlo, sólo tenés que completar el formulario de registro:' %}</p>
                <ol id="tips">
                    <li>{% trans 'Ingresá tu nombre y apellido' %}</li>
                    <li>{% trans 'Seleccioná tu ubicación geográfica: ciudad, provincia y país' %}</li>
                    <li>{% trans 'Indicá tu e-mail (ese será tu usuario para iniciar sesión)' %}</li>
                    <li>{% trans 'Elegí una contraseña' %}</li>
                </ol>
                <p>
                    {% trans 'Unos minutos después, recibirás un e-mail para confirmar tu registro.' %}
                </p>
                <p class="term">
                    <a href="/accounts/register/" class="btn btn-danger">{% trans 'Quiero registrarme' %}</a>
                </p>
            </div>
        </article>
        <aside id="col_der" class="col-md-offset-1 col-md-5 col-sm-5 hidden-ss">
            <div class="img_desc">
                <img class="img-responsive" src="{% static 'img/how_register.png' %}" alt="Formulario de registro" />
                <div class="epigrafe">
                    <p>{% trans 'Creá tu perfil para disfrutar de una mejor experiencia en Panoplic' %}</p>
                </div>
            </div>
        </aside>
    </div>
</section>
</div>
{% endblock %}