{% extends "base.html" %}
{% load i18n %}
{% load guide_extras %}
{% load staticfiles %}

{% block title %}{{ block.super }} | {% trans "Home" %}{% endblock %}

{% block include_css_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.transitions.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}" />
<style>
    li>a {
        color: #2c3e50;
    }
</style>
{% endblock include_css_headers %}

{% block content %}
<div class="body" id="home">
    <header id="header">
        <div id="logo" class="hidden-xs">
            <h1><img src="{% static 'img/panoplic.png' %}" alt="Panoplic" class="img-responsive"/></h1>
        </div>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            {% include 'partial/search.html' %}
        </div>
    </header>

    <!-- segmentos -->
    <section class="container" >
        <div class="row" id="slider_home">
            <p class="col-md-12 bajada_home">
                <span class="hidden-xs">
                    {% trans 'Encontrá en un solo lugar toda la protección para tu hogar, vehículo, comercio o empresa' %}
                </span>
                <span class="visible-xs">{% trans 'Soluciones de seguridad a medida' %}</span>
            </p>
            <div id="owl-home" class="col-md-12">
                <div class="item item-hogar">
                    <div class="item_content"><i class="fa fa-home"></i>
                        <h4>Hogares</h4>
                        <p class="small hidden-xs">{% trans 'Cuidá el espacio que compartís con los que más querés.' %}</p>
                        <p><a href="{% url 'segments:homes' %}" class="btn btn-info btn-xs" role="button">Ver</a>
                        </p>
                    </div>
                </div>

                <div class="item item-vehiculo">
                    <div class="item_content"><i class="fa fa-car"></i>
                        <h4>Vehículos</h4>
                        <p class="small hidden-xs">{% trans 'Protegé tus medios de transporte estés donde estés.' %}</p>
                        <p><a href="{% url 'segments:vehicles' %}" class="btn btn-info btn-xs" role="button">Ver</a>
                        </p>
                    </div>
                </div>

                <div class="item  item-comercio">
                    <div class="item_content"><i class="fa fa-shopping-cart"></i>
                        <h4>Comercios</h4>
                        <p class="small hidden-xs">{% trans 'Protegé a tus empleados y los bienes de tu local.' %}</p>
                        <p>
                            <a href="{% url 'segments:businesses' %}" class="btn btn-info btn-xs" role="button">Ver</a>
                        </p>
                    </div>
                </div>
                
                <div class="item item-empresa">
                    <div class="item_content"><i class="fa fa-building"></i>
                        <h4>Empresa</h4>
                        <p class="small hidden-xs">{% trans 'Soluciones de seguridad a medida de tu compañía.' %}</p>
                        <p><a href="{% url 'segments:enterprises' %}" class="btn btn-info btn-xs" role="button">Ver</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div id="publicar_home">
                <i class="fa fa-bullhorn"></i>
                <p class="hidden-xs">
                    {% trans '¡Sumá tu comercio o empresa de seguridad al directorio y aparecé en' %}
                    <span>Panoplic!</span>
                </p>
                <p class="visible-xs">¿Querés aparecer en <span>panoplic</span>?</p>
                <a i class="btn btn-danger publicar_btn" role="button" href="{% url 'company_register' %}">
                    {% trans "Agregar mi empresa" %}
                </a>
            </div>
        </div>
    </section>

    <hr>

    <section class="container">
        <h3 style="font-size: 20px;">Los productos más populares</h3>
        <br>
        <h4 style="color: #e74c3c; font-size: 15px;">Seguridad para inmuebles</h4>
        <ul class="list-group row">
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=&amp;product=99">Alarmas y sensores</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=&amp;product=123">Sistemas de monitoreo</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=&amp;product=140">Artículos de espionaje</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=&amp;product=106">Cajas fuertes y tesoros</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=cerrajeria">Candados</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=&amp;product=143">Cerraduras</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=Porteros+con+visor">Porteros eléctricos y visores</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=Portones">Portones corredizos</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'companies' %}?companies_text=redes+balcones">Redes para balcones</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=Rejas">Rejas</a>
            </li>
        </ul>
        <h4 style="color: #e74c3c; font-size: 15px;">Seguridad vehicular</h4>
        <ul class="list-group row">
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=alarmas+automotor">Alarmas para autos</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=motos">Alarmas para motos</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=Arneses">Arneses para niños</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=balizas">Balizas</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=cadenas+para+nieve">Cadenas para nieve</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=chalecos">Chalecos</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=&amp;category=6">Kits de seguridad para autos</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=motos">Lingas y tablas para motos</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=matafuegos">Matafuegos</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=polarizado">Polarizado</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=sirenas">Sirenas</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=tester+alcoholemia">Testers de alcoholemia</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=traba+volantes">Traba-volantes</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=tuercas+antirrobo">Tuercas antirrobo</a>
            </li>
        </ul>
        <h4 style="color: #e74c3c; font-size: 15px;">Seguridad industrial</h4>
        <ul class="list-group row">
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=calzado">Botines y zapatos</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=botiquines">Botiquines</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=cinta+antideslizante">Cinta antideslizante</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=guantes">Guantes</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=matafuegos">Matafuegos</a>
            </li>
            <li class="col-md-4 list-group-item">
                <a href="{% url 'search' %}?companies_text=mascaras">Máscaras</a>
            </li>
        </ul>
    </section>
{% endblock content %}
