{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }} | {% trans "Acerca de" %} | {% trans "Cuenta" %}{% endblock %}

{% block content %}


<div class="body" id="ayuda">
	<header>

		<section class="jumbotron">
			<div class="container">
				<h2 class="second_tit">Ayuda</h2>
				<h2>{% trans 'Historial de Búsqueda' %}</h2>
			</div>
			<p class="subtitulo">{% trans 'Guardá tus búsquedas preferidas' %}</p>
		</section>
	</header>
	<section class="container">
		<div class="row contenido menu-ayuda hidden-ss">
			<div class="col-md-6">
				<div class="btn-group btn-group-justified" role="group">
				<a href="{% url 'how-it-works' %}" class="btn btn-info">Cómo funciona</a>
				<a href="{% url 'how-to-register' %}" class="btn btn-info">Cómo registrarse</a> 
				<a href="{% url 'scope' %}" class="btn btn-info active">Alcances de tu cuenta</a>
				<a href="{% url 'how-to-publish' %}" class="btn btn-info">Cómo publicar tu empresa</a>
				</div>
			</div>
		</div>
		<div class="row contenido">
			<article id="col_izq" class="col-md-6 col-sm-6">
				<h3 class="titulo_section">{% trans 'Creá un historial con tus favoritos' %}</h3>
				<div id="cont_como">
					<p>{% trans 'Esta función de Panoplic te da la oportunidad de guardar los criterios de búsqueda y los resultados para consultas futuras, en caso de que estés previamente registrado en el sitio y que hayas iniciado sesión ingresando tu nombre de usuario (e-mail) y contraseña.' %}</p>
					<br>
					
					<h5>{% trans '¿Cómo guardar una búsqueda o resultado específico?' %}</h5>
					<p>{% trans 'Sólo tenés que hacer clic en el botón <strong>"Guardar Búsqueda"</strong> que aparece en la esquina derecha superior de la página. Para guardar un resultado particular dentro de la lista, presioná el botón <strong>"Agregar a Favoritos"</strong>.' %}</p>	
					<p>{% trans 'Posteriormente, cuando quieras consultar tu historial de búsquedas, con sólo ingresar a tu cuenta, las verás listadas bajo el encabezado <strong>Mis Búsquedas</strong>.' %}</p><br>
					
				</div>
			</article>
			<aside id="col_der" class="col-md-offset-1 col-md-4 col-sm-6 hidden-ss">
				<div class="img_desc">
					<img class="img-responsive" src="{% static 'img/favbuttons.png' %}" alt="Favoritos" />
					<div class="epigrafe"><p>{% trans 'Accedé fácilmente a consultas previas.' %}</p></div>
				</div>
			</aside>
		</div>
	</section>
</div> 
    
{% endblock %}