{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }} | {% trans "Términos de servicio" %}{% endblock %}
{% block content %}

<div class="body con_search" id="legales">   
  	{% include 'partial/search.html' %} 
   	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>{% trans 'Términos</h2><h2 class="second_tit">y condiciones' %}</h2>
			</div>
			<p class="subtitulo">{% trans 'Conocé los aspectos legales de Panoplic' %}</p>
		</section>
	</header>

<section class="container">
    <div class="row contenido">
           <article id="col_center" class="col-md-8 col-md-offset-2">
            <div id="termsheet" class="texto_bienvenida">
            <p>{% trans 'Panoplic aplica la siguiente política en materia de información personal del usuario y se reserva el derecho de modificarla, publicando en esta sección las actualizaciones correspondientes.' %}</p>
			<p>{% trans 'Por cualquier consulta o para obtener más información, por favor escribinos a ' %}<a href="mailto:info@panoplic.com" class="link">info@panoplic.com</a></p>

		
		<!-- desplegables-->
		
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="desplegable">
          <i class="fa fa-chevron-down"></i>{% trans ' Información Personal' %}
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
		  <p>{% trans 'Panoplic recopila toda la información ingresada por los usuarios al momento de registrarse, es decir nombre, apellido, dirección de e-mail y teléfonos (en adelante, "Información Personal").' %}</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="desplegable">
          <i class="fa fa-chevron-down"></i>{% trans ' Uso de la información Personal' %}
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
		  <p>{% trans 'Panoplic sólo empleará la Información Personal relacionada con el uso del sitio web, como ofertas especiales u otras comunicaciones con fines publicitarios o de marketing propio [pero no revelará nunca datos a terceros].' %}</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="desplegable">
          <i class="fa fa-chevron-down"></i>{% trans ' Envío de mensajes' %}
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
		  <p>{% trans 'Panoplic podrá enviarte mensajes destinados a confirmar tu inscripción como usuario registrado o cualquier otra comunicación que considere pertinente y relevante, incluso si se tratara de promoción de productos, bienes y/o servicios.' %}
		  </p>
<p><strong>{% trans 'Excepciones a la reserva de la Información Personal y otras informaciones' %}</strong><br>
{% trans 'Se exceptúa del compromiso de reserva cualquier dato que deba ser revelado en cumplimiento de una orden judicial o de una autoridad administrativa competente. Panoplic también podrá revelar la Información Personal de un usuario toda vez que éste, o un tercero que se identifique como tal, viole los Términos y Condiciones Generales o cualquier otra política o normativa de Panoplic, atente contra la seguridad de los sitios de Panoplic o los utilice para cometer un ilícito.' %}</p>
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="desplegable">
          <i class="fa fa-chevron-down"></i>{% trans ' Cookies' %}
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <p>{% trans 'Mediante el uso de cookies o rastreo IP, Panoplic puede acceder a tu "Información No Específica", tal como tu navegador web, sistemas operativo, proveedor del internet, páginas que visitás, transacciones que realizás y otra información similar. Panoplic podrá asociar tu Información Personal con la Información No Específica, o agregar Información Personal o Específica de distintos usuarios para generar estadísticas.' %}</p>
        <p>{% trans 'La Información No Específica es utilizada sólo por Panoplic, con el objetivo de mejorar constantemente nuestros sitios y poder ofrecer información relevante y personalizada para cada usuario. Eventualmente, Panoplic podrá revelar información de tipo estadístico, pero en ningún caso dará a conocer a terceros Información Personal específica. Todos los navegadores pueden programarse para aceptar cookies, pero en caso de que prefieras no brindar Información No Específica, podrás configurar la opción de rechazar las cookies. También es posible que tu navegador te advierta ante sitios que intenten enviarte cookies. Para mayor información sobre cómo desactivar la función de aceptar cookies, te aconsejamos consultar a tu proveedor de internet.' %}</p>
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="desplegable">
          <i class="fa fa-chevron-down"></i>{% trans ' Corrección de la Información' %}
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
		  <p>{% trans 'Para acceder, corregir o suprimir tu Información Personal archivada en nuestra base de datos, por favor escribinos a ' %}<a href="mailto:info@panoplic.com" class="link">info@panoplic.com</a></p>
      </div>
    </div>
  </div>
</div>
		
		<!--fin desplegables-->


			<p>PANOPLIC <em>{% trans 'El sitio donde encontrás todo sobre seguridad, protección y soluciones rápidas las 24 hs. en Español © 2012 - Todos los derechos reservados. ' %}</em></p>
			   </div></article>
     </div></section>
</div>
    
{% endblock %}