{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="body segmentos" id="segmentos_{% block segment_name %}{% endblock segment_name %}">
	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>Categoría</h2><h2 class="second_tit">{% block heading %}{% endblock heading %}</h2>
			</div>
			<p class="subtitulo">{% block bajada %}{% endblock bajada %}</p>
		</section>
	</header>

	<section class="container">
		<div class="row contenido">
		<div class="col-md-12 info-center">		
		<p class="text-center">{% trans 'Seleccioná el producto o servicio de tu interés para ver un listado de empresas del rubro' %}</p><br></div>

		<ul class="segmento">
			
				<a href="{% url 'search' %}?companies_text={% block key1 %}{% endblock key1 %}"><li class="col-md-4 col-sm-4 col-xs-4 cuadro1">
						<i class="fa fa-{% block classi1 %}{% endblock classi1 %}"></i>
						<h4>{% block titcuadro1 %}{% endblock titcuadro1 %}</h4>
				</li></a>
				
				<a href="{% url 'search' %}?companies_text={% block key2 %}{% endblock key2 %}">
				<li class="col-md-4 col-sm-4 col-xs-4 cuadro2">
					<i class="fa fa-{% block classi2 %}{% endblock classi2 %}"></i>
						<h4>{% block titcuadro2 %}{% endblock titcuadro2 %}</h4>
				</li></a>
				<a href="{% url 'search' %}?companies_text={% block key3 %}{% endblock key3 %}"><li class="col-md-4 col-sm-4 col-xs-4 cuadro3">
						<i class="fa fa-{% block classi3 %}{% endblock classi3 %}"></i>
						<h4>{% block titcuadro3 %}{% endblock titcuadro3 %}</h4>
				</li></a>
				
				<a href="{% url 'search' %}?companies_text={% block key4 %}{% endblock key4 %}"><li class="col-md-4 col-sm-4 col-xs-4 cuadro4">
						<i class="fa fa-{% block classi4 %}{% endblock classi4 %}"></i>
						<h4>{% block titcuadro4 %}{% endblock titcuadro4 %}</h4>
				</li></a>
				
				<a href="{% url 'search' %}?companies_text={% block key5 %}{% endblock key5 %}"><li class="col-md-4 col-sm-4 col-xs-4 cuadro5">
						<i class="fa fa-{% block classi5 %}{% endblock classi5 %}"></i>
						<h4>{% block titcuadro5 %}{% endblock titcuadro5 %}</h4>
				</li></a>
				
				<a href="{% url 'search' %}?companies_text={% block key6 %}{% endblock key6 %}"><li class="col-md-4 col-sm-4 col-xs-4 cuadro6">
						<i class="fa fa-{% block classi6 %}{% endblock classi6 %}"></i>
						<h4>{% block titcuadro6 %}{% endblock titcuadro6 %}</h4>
				</li></a>
		</div>
	</section>
</div>
{% endblock content %}
	