{% extends "base.html" %}
{% load i18n %}
{% load guide_extras %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{{ block.super }} | {% trans "Edición de perfil" %}{% endblock %}

{% block include_css_headers %}
<link type="text/css" href="{% static 'css/edicion-perfil.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="body" id="perfil_usuario"> 
   	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>Perfil</h2><h2 class="second_tit">Usuario</h2>
			</div>
			<p class="subtitulo">
          {% trans 'Controlá, visualizá y editá la información de tu cuenta' %}
      </p>
		</section>
	</header>
    <section class="container">
    	<div class="row contenido">
        	<h3 class="titulo_section col-md-12">{% trans 'Modificá los datos registrados de tu cuenta' %}</h3>
		<aside id="col_der" class="col-md-4 col-sm-5 col-md-push-8 col-sm-push-7">
   		<div class="text-center">
   			<a class="btn btn-primary btn-sm" href="{% url 'profile' user.profile.pk %}">
          {% trans 'Ver mi perfil público' %}
        </a>
		    <a class="btn btn-primary btn-sm" href="{% url 'password_change' %}">
          {% trans 'Cambiar contraseña' %}
        </a>
			</div>
   		<br>
			<div id="avatar" class="bloque aqualine">
				<i class="fa fa-user nocircle"></i>
				<h5>Foto de perfil</h5>
				{% include "partial/avatar.html" with id="avatar" div_id="foto_usr" avatar_path=avatar upload_action="/upload_avatar/" delete_action="/delete_avatar" %}
			</div>    
			<div class="bloque aqualine">               
				<i class="fa fa-th-list nocircle"></i>
				<h5>Mis b&uacute;squedas  </h5>
				{% for search in searches.all %}
				  <div class="resultados_fav inside_bloque">                    
					  <a href="{{ search.get_absolute_url }}"><span class="fav_nombre">{{ search.name }}</span></a> | 
            <a href="{% url 'remove_search' search.id %}" class="link fav_elimina">eliminar</a>
				  </div> 
			  {% endfor %}
			</div>        
			<div class="bloque aqualine">
				<i class="fa fa-heart nocircle"></i>
				<h5>Mis favoritos </h5>
				{% for favorite in favorites.all %}
				<div class="resultados_fav inside_bloque">
					<span class="fav_nombre">
					<a href="{% url 'company_view' favorite.id favorite.name|slugify %}" class="link">
						{{ favorite.name }}</a> | 
						<a class="link fav_elimina" href="{% url 'unfavorite' favorite.id %}">
						eliminar
						</a>
					</span>
					<br>
					<span class="fav_cat">{{ favorite.category }}</span> - 
					<span class="fav_barrio">{{ favorite.city }}</span>
				</div>
				{% endfor %}
			</div>   			
		</aside>
		<article id="col_izq" class="col-line col-md-8 col-sm-7 col-md-pull-4 col-sm-pull-5">
            <form action="." method="POST" id="form">
                {% csrf_token %}
                {{ profile_form.non_field_errors }}
                {{ user_form.non_field_errors }}
                <div id="desc" class="bloque">
                   	<h5 class="dato">{% trans 'Datos Públicos' %}</h5>
                    <div class="form_line medio_uno">
                        <label>Nombre</label>
                        {% render_field user_form.first_name class="form-control" %}
                        {{ user_form.first_name.errors }}
                    </div>			
            
                    <div class="form_line medio_dos">
                        <label>Apellido</label>
                        {% render_field user_form.last_name class="form-control" %}
                        {{ user_form.last_name.errors }}
                    </div>            
                            
                    <div class="form_line medio_uno">
                        <label>País</label>
                        {% render_field profile_form.country class="form-control" %}
                        {{ profile_form.country.errors }}
                    </div>
                         
                    <div class="form_line medio_dos">
                       <label>Provincia</label>
                        {% render_field profile_form.province class="form-control" %}
                        {{ profile_form.province.errors }}
                    </div>
                   
                    <div class="form_line medio_uno">
                       <label>Ciudad</label>
                        {% render_field profile_form.city class="form-control"  %}
                        {{ profile_form.city.errors }}
                    </div>

                  	<br>
                   	<h5 class="dato">{% trans 'Datos Privados' %}</h5>
                    <div class="form_line">
                        <label>E-mail</label>
                        {% render_field user_form.email class="form-control" %}
                        {{ user_form.email.errors }}
                    </div>
  
                    <div class="form_line medio_uno">
                        <label>Fecha nacimiento</label>
                        {% render_field profile_form.birthday class="form-control" %}
                        {{ profile_form.birthday.errors }}
                    </div>

                    <div class="form_line medio_dos">
                        <label>Género</label>
                        {% render_field profile_form.gender class="form-control" %}
                        {{ profile_form.gender.errors }}
                    </div>             
           		</div>
                <div id="save">
                    <input type="submit" value="{% trans 'Guardar' %}" class="btn btn-danger"/>
				</div>
            </form>
		</article>   
		</div>
    </section>
</div>
{% endblock %}