{% extends "base.html" %}
{% load i18n %}
{% load guide_extras %}
{% load staticfiles %}

{% block title %}{{ block.super }} | {% trans "Perfil" %}{% endblock %}

{% block include_css_headers %}
<link type="text/css" href="{% static 'css/edicion-perfil.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="body" id="perfil_usuario"> 
   	<header>
		<section class="jumbotron">
			<div class="container">
				<h2>Perfil</h2><h2 class="second_tit">Usuario</h2>
			</div>
			<p class="subtitulo">{% trans 'Visualizá y editá tus datos personales' %}</p>
		</section>
	</header>
   
    <section class="container">
        <div class="row contenido">
            <article id="col_central" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                {% if user.is_authenticated and user == profile.user %}
                <h3 class="titulo_section">{% trans 'Así ve el resto de los usuarios tu perfil público' %}</h3>
                {% endif %}
                <div class="row datos-perfil">
               		<div class="col-md-12">
    					<div class="mi-info"><div id="avatar" class="mi-avatar">
    						<img src="{{ MEDIA_URL }}{{ profile.avatar }}" class="img-circle">
    					</div>
    					<ul class="mis-datos">
    						<li class="mi-nombre">
    							{{ profile.user.first_name|default:"" }} {{ profile.user.last_name|default:"" }}
    						</li>
    						<li>{{ profile.user.email }}</li>
    						<li>{{ profile.city|default:"" }} ( {{ profile.province|default:"" }} | {{ profile.country }} )</p></li>
    						<li>{{ profile.birthday|default:"" }}</li>
    						<li>{{ profile.get_gender_display }}</li></p>
    					</ul> 
    					</div>
    					{% if user.is_authenticated and user == profile.user %}
    					 <div class="mis-links">
    						<a href="{% url 'edit_profile' %}" class="btn btn-danger btn-sm">{% trans "Editar mis datos" %}</a>
    						<a href="{% url 'password_change' %}" class="btn btn-danger btn-sm">{% trans "Editar contraseña" %}</a>
    					</div>
    					{% endif %}
       				</div>
   			    </div>
  			  <div class="row">  
  				              
		        {% if user.is_authenticated and user == profile.user %}
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="mis-busquedas">             
                        <i class="fa fa-th-list nocircle"></i>
                        <h5>Mis b&uacute;squedas</h5>
                        {% for search in profile.searches.all %}
                        <div class="resultados_fav inside_bloque">                    
                            <a href="{{ search.get_absolute_url }}">
                                <span class="fav_nombre">{{ search.name }}</span>
                            </a> | 
                            <a href="{% url 'remove_search' search.id %}" class="link fav_elimina">eliminar</a>
                            <br>
                            <span class="fav_cat">{{ search.companies_text }}</span> - 
                            <span class="fav_barrio">{{ search.places_text }}</span>
                        </div>
                        {% endfor %}
                    </div>  
                </div>   
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="mis-favoritos">
						<i class="fa fa-heart nocircle"></i>
						<h5>Mis favoritos </h5>
						{% for favorite in profile.favorites.all %}
						<div class="resultados_fav inside_bloque">
							<a href="{% url 'company_view' favorite.id favorite.name|slugify %}">
								<span class="fav_nombre">{{ favorite.name }}</span>
							</a> | 
							<a class="link fav_elimina" href="{% url 'unfavorite' favorite.id %}">eliminar</a>
							<br>
							<span class="fav_cat">{{ favorite.category }}</span> - 
							<span class="fav_barrio">{{ favorite.city }}</span>
						{% endfor %}
						</div> 
					</div>
					{% endif %}
         			</div>
            	</div>
    		</article>
    	</div> 	
    </section>
</div>
{% endblock %}