{% load i18n %}
<div id="cont_busq_adv">
    <div id="flecha_adv"  ></div>
    <div id="busq_adv_title"  >
        <h3>{% trans "Búsqueda avanzada" %}</h3>
    </div>

    <div id="cont_filtros">
        <p>Elegí los filtros para agilizar tu búsqueda</p>
        <div id="form_filtros">
            <select class="search_select">
                <option>{% trans "CATEGORIAS" %}</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <select class="search_select">
                <option>{% trans "SUBCATEGORIAS" %}</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <select class="search_select">
                <option>{% trans "ZONA" %}</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
</div><!--cont_busq_adv-->