{% load i18n %}
    <div id="cont_{{ div_id }}" class="avatar_perfil">

    <p class="txt_chico">{% trans 'Cargá una imagen desde tu computadora (1mb max.)' %}</p>
    <div id="seleccionar_foto">
		<div id="{{ div_id }}">
			<img src="{{ MEDIA_URL }}{{ avatar_path }}" class="img-circle img-responsive"/>
		</div>
        <form method="POST" id="upload_avatar_form" action="{{ upload_action }}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="{{ id }}" id="input_avatar" style="display:none;"/>
        </form>
        <div class="avatar_btns">
			<a href="#" id="change_avatar" class="btn btn-warning btn-xs txt_chico">cambiar</a>
			<a href="{{ delete_action }}" class="btn btn-warning btn-xs txt_chico">eliminar</a>
        </div>
    </div>
    <img src="{{ STATIC_URL }}img/uploading.gif" id="uploading" style="display:none;" />
	
	<p class="txt_chico italic cond">{% trans 'Al subir un archivo, certificás que tenés derecho a utilizar esta imagen y que la misma no infringe los ' %}<a href="{% url 'terms-conditions' %}" class="link txt_chico">Términos y Condiciones</a> de Panoplic</p>
</div>
