{% load guide_extras %}

{% if form.errors %}
<div id="{{ div_id }}" class="alert alert-danger" role="alert">
    {% with form|nice_errors as qq %}
    {% for error_name,desc in qq.non_field_errors.items %}
    <span>{{ error_name }}: {{ desc }}</span>
    {% endfor %}
    {% for error_name,desc in qq.field_errors.items %}
    <span>{{ error_name }}: {{ desc }}</span>
    {% endfor %}
    {% endwith %}
</div>
{% endif %}