{% load i18n %}
{% load widget_tweaks %}

<section id="search" >
	<div class="container">
		<h2>{% trans "Encontrá todo sobre seguridad y protección" %}</h2>
		<div id="buscador" class="row">
			<form id="form_buscador" action="{% url 'search' %}" method="GET">			
				<div>	
					<input type="text" id="search_box" class="form-control" autocomplete="off"
						placeholder="{% trans 'Buscá productos, servicios o empresas' %}" name="companies_text"
						value="{{ form.companies_text.value }}" />
				</div>
				<div id="zona_box" class="advanced_field">
					<input type="text" id="zona" class="form-control" autocomplete="off" 
						placeholder="{% trans '¿En qué zona?' %}" name="places_text" 
						value="{{ form.places_text.value|default:'' }}" />
				</div>

				<div id="advanced" style="display: none" class="row">
					<div class="col-md-6 col-sm-6  col-xs-6 advanced_field">
						{{ search_form.category|add_class:"form-control" }}
					</div>
	             	<div class="col-md-6 col-sm-6  col-xs-6 advanced_field">
	             		{{ search_form.product|add_class:"form-control" }}
	             	</div>
				</div>

				{% comment %}
				Advanced search with Service field:
				<div id="advanced" style="display: none" class="row">
					<div class="col-md-4 col-sm-4  col-xs-6 advanced_field">
						{{ search_form.category|add_class:"form-control" }}
					</div>
	             	<div class="col-md-4 col-sm-4  col-xs-6 advanced_field adv-mid">
	             		{{ search_form.product|add_class:"form-control" }}
	             	</div>
	               	<div class="col-md-4 col-sm-4  advanced_field hidden-xs" >
	               		{{ search_form.service|add_class:"form-control" }}
	               	</div>
				</div>
				{% endcomment %}

	        	<input class="btn btn-danger" type="submit" value="{% trans 'Buscar' %}" id="buscar_btn"
	        		class="input-group-btn"/>
	    		<button id="toggle-advanced" class="btn btn-sm btn-default" type="button">
	    			{% trans 'Más filtros'%} <i class="fa fa-chevron-down"></i>
	    		</button>
			</form>
		</div>
	</div>
</section>
