<div id="dif_img">
    <a href="http://www.facebook.com/sharer.php?u={{ request.build_absolute_uri|slice:":-1" }}" target="_blank">
        <img src="{{ STATIC_URL }}img/fb_s.png" /> 
    </a>
    <a href="https://twitter.com/share?url={{ request.build_absolute_uri  }}" target="_blank">
        <img src="{{ STATIC_URL }}img/tw_s.png" /> 
    </a>
    <a href="https://plusone.google.com/_/+1/confirm?hl=en&url={{ request.build_absolute_uri }}" target="_blank">
        <img src="{{ STATIC_URL }}img/go_s.png" />
    </a>
</div>