{% load i18n %}

<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="19" bgcolor="#1566B0">&nbsp;</td>
    <td width="561" bgcolor="#1566B0">&nbsp;</td>
    <td width="20" bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td bgcolor="#333333">&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td bgcolor="#333333" align="center"> <a href="http://www.panoplic.com"> <img src="http://{{ site.domain }}{{ STATIC_URL }}img/logo_email.png" border="0" alt="Panoplic" title="Panoplic"> </a></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td bgcolor="#333333">&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td>&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; margin-left:10px;">Estimado: {{ user.first_name }}</p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#1566B0; margin-left:10px;">Se ha registrado con éxito.</p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><hr size="1px" color="#999999" width="100%" align="center"></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td>&nbsp; </td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#1566B0; margin-left:10px;">Bienvenido a Panoplic.com!</p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666; margin-left:10px;"><b>Primeros pasos:</b><br>Para activar tu cuenta y comenzar a disfrutar de todo lo que Panoplic tiene para vos, clickeá el siguiente <a href="http://{{ site.domain }}{% url 'registration_activate' activation_key %}" target="_blank">link.</a></p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td>&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666; margin-left:10px;">Si el enlace no llegara a funcionar, por favor copialo y pegalo en la barra de navegación de tu explorador.</p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; margin-left:10px;"> http://{{ site.domain }}{% url 'registration_activate' activation_key %} </p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td>&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; margin-left:10px;">Tené en cuenta que el mismo es válido por {{ expiration_days }} días.</p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td>&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td>&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><hr size="1px" color="#999999" width="100%" align="center"></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#1566B0; margin-left:10px;"> Datos de Acceso </p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; margin-left:10px;"> <strong>Usuario:</strong> {{ user.email }} </p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; margin-left:10px;"> <strong>Contraseña:</strong> ********** </p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td>&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; margin-left:10px;">Ante cualquier duda o consulta, por favor no dudes en comunicarte con nosotros escribiéndonos a info@panoplic.com</p><br>
    <p>¡Muchas gracias y saludos!</p>
</p></td>
    <td bgcolor="#1566B0">El equipo de Panoplic</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td>&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td colspan="2" bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td bgcolor="#1566B0"><p style="font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#fff; text-align:center">Todos los derechos reservados  panoplic.com - 2012 | <a href="http://panoplic.com/terms-conditions/" target="_blank" style="color:#FFF; text-decoration:none;">Términos y Condiciones </a> | <a href="http://panoplic.com/terms-conditions/" target="_blank" style="color:#FFF; text-decoration:none;">Políticas de Privacidad</a> </p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>

  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td colspan="2" bgcolor="#1566B0">
    <p style="font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#fff; text-align:center">Tambien podes seguirnos en:<br>
    
    <a href="https://www.facebook.com/panoplic" style="text-decoration:none"> <img src="http://www.panoplic.com/static/img/mail_facebook.jpg" width="20" height="20" border="0" style="margin:2px;" alt="Facebook" title="Facebook"></a>
    
    <a href="https://twitter.com/Panoplicweb" style="text-decoration:none"> <img src="http://www.panoplic.com/static/img/mail_twitter.jpg" width="20" height="20" border="0" style="margin:2px;" alt="Twitter" title="Twitter"></a>
    
    <a href="http://www.youtube.com/user/Panoplic" style="text-decoration:none"> <img src="http://www.panoplic.com/static/img/mail_youtube.jpg" width="20" height="20" border="0" style="margin:2px;" alt="Youtube" title="Youtube"></a>
    
    <a href="https://plus.google.com/u/0/b/107916264287227864981/107916264287227864981/posts" style="text-decoration:none"> <img src="http://www.panoplic.com/static/img/mail_googleplus.jpg" width="20" height="20" border="0" style="margin:2px;" alt="Google Plus" title="Google Plus"></a>
    
    <a href="http://pinterest.com/panoplic" style="text-decoration:none" > <img src="http://www.panoplic.com/static/img/mail_pinterest.jpg" width="20" height="20" border="0" style="margin:2px;" alt="Pinterest" title="Pinterest"></a>
    </p>
    </td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td colspan="2" bgcolor="#1566B0">&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>