<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="19" bgcolor="#1566B0">&nbsp;</td>
    <td width="561" bgcolor="#1566B0">&nbsp;</td>
    <td width="20" bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td bgcolor="#333333">&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td bgcolor="#333333" align="center"> <a href="http://www.panoplic.com"> <img src="http://{{ site.domain }}{{ STATIC_URL }}img/logo_email.png" border="0" alt="Panoplic" title="Panoplic"> </a></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td bgcolor="#333333">&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td>&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; margin-left:10px;">Estimado: {{ user.first_name }}</p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#1566B0; margin-left:10px;">Se cuenta ha sido activada.</p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><hr size="1px" color="#999999" width="90%" align="center"></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td>&nbsp; </td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#1566B0; margin-left:10px;">Bienvenido a Panoplic.com!</p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666; margin-left:10px;">Ya puede acceder a su cuenta y comenzar a disfrutar de nuestros beneficios.</p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td>&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666; margin-left:10px;">Haga <a href="http://{{ site.domain }}{% url auth_login %}" target="_blank">click aquí</a> para ingresar a su cuenta.</p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td>&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><hr size="1px" color="#999999" width="90%" align="center"></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#1566B0; margin-left:10px;"> Datos de Acceso </p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; margin-left:10px;"> <strong>Usuario:</strong> {{ user.email }} </p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; margin-left:10px;"> <strong>Contraseña:</strong> ********** </p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td>&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; margin-left:10px;">Ante cualquier consulta, no dude en comunicarse con nosotros via info@panoplic.com</p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td>&nbsp;</td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td colspan="2" bgcolor="#1566B0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td bgcolor="#1566B0"><p style="font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#fff; text-align:center">Todos los derechos reservados  panoplic.com - 2012 | <a href="#" target="_blank" style="color:#FFF; text-decoration:none;">Términos y Condiciones </a> | <a href="#" target="_blank" style="color:#FFF; text-decoration:none;">Políticas de Privacidad</a> </p></td>
    <td bgcolor="#1566B0">&nbsp;</td>
  </tr>

  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td colspan="2" bgcolor="#1566B0">
    <p style="font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#fff; text-align:center">Tambien podes seguirnos en:<br>
    
    <a href="https://www.facebook.com/panoplic"> <img src="http://{{ site.domain }}{{ STATIC_URL }}img/mail_facebook.jpg" width="20" height="20" border="0" style="margin:2px;" alt="Facebook" title="Facebook"></a>
    
    <a href="https://twitter.com/Panoplicweb"> <img src="http://{{ site.domain }}{{ STATIC_URL }}img/mail_twitter.jpg" width="20" height="20" border="0" style="margin:2px;" alt="Twitter" title="Twitter"> </a>
    
    <a href="http://www.youtube.com/user/Panoplic"> <img src="http://{{ site.domain }}{{ STATIC_URL }}img/mail_youtube.jpg" width="20" height="20" border="0" style="margin:2px;" alt="Youtube" title="Youtube"> </a>
    
    <a href="https://plus.google.com/u/0/b/107916264287227864981/107916264287227864981/posts"> <img src="http://{{ site.domain }}{{ STATIC_URL }}img/mail_googleplus.jpg" width="20" height="20" border="0" style="margin:2px;" alt="Google Plus" title="Google Plus"> </a>
    
    <a href="http://pinterest.com/panoplic"> <img src="http://{{ site.domain }}{{ STATIC_URL }}img/mail_pinterest.jpg" width="20" height="20" border="0" style="margin:2px;" alt="Pinterest" title="Pinterest"> </a>
    </p>
    </td>
  </tr>
  <tr>
    <td bgcolor="#1566B0">&nbsp;</td>
    <td colspan="2" bgcolor="#1566B0">&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
