{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panoplic | Seleccioná tu país</title>	

  <link type="text/css" href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  <link type="text/css" href="{% static 'css/countries.css' %}" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69625206-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="brand"></div>
      <h4>Pensás en seguridad, buscás en Panoplic</h4>
    </div>
  </div> 
</div>

<div class="container">

  <section class="row "></section>
  <ul class="paises col-md-10 col-md-offset-1">
    <hr>
    <h3>Seleccioná tu país</h3>
    <li class=""><a href="{{ request.scheme }}://ar.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Argentina"><i class="flag f-ar"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://bo.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Bolivia"><i class="flag f-bo"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://cl.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Chile"><i class="flag f-cl"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://co.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Colombia"><i class="flag f-co"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://cr.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Costa Rica"><i class="flag f-cr"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://ec.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Ecuador"><i class="flag f-ec"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://sv.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="El Salvador"><i class="flag f-sa"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://gt.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Guatemala"><i class="flag f-gu"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://hn.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Honduras"><i class="flag f-ho"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://mx.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="México"><i class="flag f-mx"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://ni.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Nicaragua"><i class="flag f-ni"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://pa.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Panamá"><i class="flag f-pa"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://pe.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Perú"><i class="flag f-pe"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://pr.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Puerto Rico"><i class="flag f-pr"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://dm.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Rep Dominicana"><i class="flag f-rd"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://uy.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Uruguay"><i class="flag f-ur"></i></a></li>
    <li class=""><a href="{{ request.scheme }}://ve.{{ request.get_host }}" data-toggle="tooltip" data-placement="top" title="Venezuela"><i class="flag f-vz"></i></a></li>
  </ul>

</div>
 

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{% static 'js/global.js' %}"></script>
</body>

</html>
