@charset "utf-8";
body {
	background: white;
}

hr {
	border-top: 1px solid gray
}

h3 {
	text-align: center;
	color: gray;
	padding: 10px;
	margin: -47px auto 30px;
	background: white;
	max-width: 203px;
	font: 300 20px/28px "Lato";
}

h4 {
	text-align: center;
	color: #0C4DA2;
	font-family: Coustard;
	border-radius: 5px;
	max-width: 400px;
	margin: 0px auto 118px;
}

.brand {
	background: url(../img/panoplic.png) no-repeat;
	width: 233px;
	height: 107px;
	background-size: contain;
	margin: 80px auto -15px;
	background-position: center
}

ul.paises {
	margin-top: 30px;
	text-align: center;
}

ul.paises li {
	text-align: center;
	font: 500 12px/23px Coustard;
	color: rgb(90, 90, 90);
	margin: 0px 0 25px;
	font-size: 12px;
	width: 10%;
	min-width: 94px;
	display: inline-block;
}

li a {
	color: gray;
	display: block;
}

li a:hover {
	text-decoration: none
}

.flag {
	padding: 0 0;
	display: block;
	max-width: 75px;
	width: 100%;
	margin: 0 auto;
	height: 75px;
}

.f-ar {
	background: url(../img/flags/argentina.png) no-repeat center center;
	background-size: contain;
}

.f-bo {
	background: url(../img/flags/bolivia.png) no-repeat center center;
	background-size: contain;
}

.f-cl {
	background: url(../img/flags/chile.png) no-repeat center center;
	background-size: contain;
}

.f-co {
	background: url(../img/flags/colombia.png) no-repeat center center;
	background-size: contain;
}

.f-cr {
	background: url(../img/flags/costa-rica.png)no-repeat center center;
	background-size: contain;
}

.f-cu {
	background: url(../img/flags/cuba.png) no-repeat center center;
	background-size: contain;
}

.f-ec {
	background: url(../img/flags/ecuador.png) no-repeat center center;
	background-size: contain;
}

.f-sa {
	background: url(../img/flags/elsalvador.png) no-repeat center center;
	background-size: contain;
}

.f-vz {
	background: url(../img/flags/venezuela.png) no-repeat center center;
	background-size: contain;
}

.f-ur {
	background: url(../img/flags/uruguay.png) no-repeat center center;
	background-size: contain;
}

.f-rd {
	background: url(../img/flags/rep-dominican.png) no-repeat center center;
	background-size: contain;
}

.f-pr {
	background: url(../img/flags/puerto-rico.png) no-repeat center center;
	background-size: contain;
}

.f-pe {
	background: url(../img/flags/peru.png) no-repeat center center;
	background-size: contain;
}

.f-pg {
	background: url(../img/flags/paraguay.png) no-repeat center center;
	background-size: contain;
}

.f-pa {
	background: url(../img/flags/panama.png) no-repeat center center;
	background-size: contain;
}

.f-ni {
	background: url(../img/flags/nicaragua.png) no-repeat center center;
	background-size: contain;
}

.f-mx {
	background: url(../img/flags/mexico.png) no-repeat center center;
	background-size: contain;
}

.f-ho {
	background: url(../img/flags/honduras.png) no-repeat center center;
	background-size: contain;
}

.f-gu {
	background: url(../img/flags/guatemala.png) no-repeat center center;
	background-size: contain;
}

.f-bz {
	background: url(../img/flags/brazil.png) no-repeat center center;
	background-size: contain;
}

@media all and (max-width: 768px) {
	.flag {
		height: 60px;
	}
	ul.paises p {
		display: none
	}
	ul.paises li {
		min-width: 68px;
		margin: 0px 0px 10px;
	}

	
}
@media all and (max-width: 480px) {
	
	.brand{  
  width: 248px;
  height: 63px;
  margin: 73px auto 4px;
  }
	h3{  
		margin: -47px auto 3px;
  max-width: 164px;
  font: 300 17px/28px "Lato";}
	
	h4{   
		margin: 0px auto 35px;
	  max-width: 400px;
  font-size: 16px;
  font-weight: 500;
	}
	
	ul.paises {
		margin-top: 71px;
	padding-left: 0;
	padding-right: 0}
	
ul.paises li {
  min-width: 37px;
	margin: 0px 0px 10px;}

	.flag {
  height: 42px;
		max-width: 43px;}

}