@charset "utf-8";

@media all and (max-width: 1200px) {
	
	#slider_home .item_content {
 	width: 60%;
 	min-height: 190px;}
	
	
/////////////////////////////* 992px */////////////////////////////	
}
@media all and (max-width: 992px) {

#publicar_home {
	max-width: 640px;
	.publicar_btn {
		margin: 0 auto;
		display: block;
		max-width: 182px;
	}
}
	
	.map_multiple{  height: 112px}
	
/////////////////////////////* 768px */////////////////////////////	
}
@media all and (max-width: 767px) {	
	/*GENERALES*/
		
.body{margin-top:57px}
	
p.info-section{ text-align: center;   
  text-align: center;
  max-width: 590px;
  margin: 0 auto;
  font: 500 13px/23px "Lato";}
	
h5{	display: block;
	margin: 5px auto 15px;
	}	

	h5.dato{text-align: left;}
	
	.col-line{border-right: none;}
	
#col_izq {
	  padding-right: 15px;
	  margin-top: 10px;
	  text-align: center;
	  width: 90%;
  margin: 0 auto;
		
		.term {
		text-align: center;
	  margin: 20px auto 0;
	  max-width: 600px;
		}

		p{  font: 500 14px/18px lato;}
}
	
#form input[type="submit"] {
  		max-width: 275px;
		float: none;
		}
	
#col_der{  width: 90%;
  margin: 0 auto;
	
	h5{}
	
	#bullets { text-align: center;
		li{ 
		margin-bottom: 10px;	
		display: inline-block;
		width: 135px;
		padding: 0 1.3%;

			.bullets_txt{  
				      max-width: 70px;
					  margin-top: 8px;
					  font-size: 12px;
					  text-align: left;
				}
		}
	}
	.fa{  padding: 4px 5px;
		  font-size: 15px;
		  margin-right: 5px;
		  margin-top: 2px;
		  float: left;
		}
	
	#info{max-width: 435px; 
	  margin: 0 auto;
	  padding: 0;
	text-align: center;
		h5{margin-top: 25px}
		
		strong{  
			margin: 4px auto -14px;
  			display: block;}
	}
	  }
	
.bloque-input{  
	max-width: 600px;
 }

	
.jumbotron {
	padding: 0px;
	margin-bottom: 0;
	.subtitulo {
		font-size: 15px;
		  line-height: 18px;
	}
	h2 {
		font-size: 30px;
		line-height: 25px;
	    }
}

h3 {
	text-align: center;
	font: 300 23px/25px "Coustard";
	  margin: 10px 0 0px 0;
	}

	
/*HOME 768*/

#home .jumbotron {
	background-image: none;
	background-color: $gris-superclaro;
	
	#search #toggle-advanced {
		color: $rojo;
		border-color: $rojo
	}
	
	#search_box {width: 100%;}

	#zona_box{width: 100%;}

	.wide {width: 100%!important;}
	
	.adv-mid {padding: 0 15px;}
	
	
	h2 {
		color: $azul;
		margin: 10px 0 0;
		font-size: 22px;
		line-height: 26px;
	}
}

	.bajada_home{
		color: $azul;
		margin: 20px 0 20px;
	  	font: 600 17px/13px lato;
	    padding: 0;}
	
#slider_home {
	.item_content {
		width: 50%;
		min-height: 180px;
		h4 {
			margin-bottom: 10px;
			margin-top: 5px;
		}
		i.fa {
			font-size: 3.4em;
			line-height: 68px;
		}
		i.fa-cart, i.fa-home{
			font-size: 4.1em;}
	}
}
	
#publicar_home {
	max-width: 305px;
	margin: 15px auto 20px;
	p.visible-xs {
		  font-size: 16px;
  padding: 0px 13px;
  position: relative;
  margin-top: -63px;
  float: right;
	}
	.publicar_btn {
		margin-right: 35px;
		margin-top: -38px;
		height: 38px;
		padding: 7px 0;
	}
	i.fa {
		font-size: 40px;
		vertical-align: top;
		  margin: 5px;
	}
}
	/* NAV BAR 768*/
	
	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover {
		margin: 2px auto;
		position: absolute;
		width: 80%;
		background-position: center;
	}
	.container > .navbar-header,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container-fluid > .navbar-collapse {
		background-color: $azul;
		min-height: 46px;
	}
	.navbar-default {
		background: none
	}
	.form-control {
		height: 35px;
		padding: 5px 10px 5px 6px;
			}
	#buscar_btn {
		height: 35px;
	}
	
	/*Loguin 768px*/
	.social-loguin {
  		max-width: 180px;
		margin: 0 auto;}
	
	/*perfil 768*/
	#col_der .btn-primary{margin-top: 10px}
	
	#col_der #avatar{  min-height: 170px;}
	
	.mis-busquedas h5, .mis-favoritos h5{display: inline-block}
	
	.avatar_btns{
		max-width: 83px;
		float: left;
		}
	
	.avatar_perfil #foto_usr {
	  min-width: 80px;
	  width: 100px;
	  height: 105px;}
	

	
	.avatar_perfil #seleccionar_foto{ 
		width: 49%; 
		float: left;
		
		a {
		margin-top: 15px;}
	}
	
	.avatar_perfil p.cond{
		width: 49%; 
		float: right;
		margin-top: 15px;
		margin-bottom: 25px;}
	
	
	
	/* FICHA EMPRESA 768*/
	
#header-company{
		
	hr {
	  margin: -8px 0 5px;
	  clear: both;
	  padding-top: 22px;}
	
	.control-btns{  
		margin-top:-37px;
			.btn {
			height: 37px;
			width: 40px;
			}
		}
	
	.avatar #logo_empresa {
  	min-width: 100px;}
	
	.btn-primary{margin-top: 15px}

	.avatar_btns{max-width: 200px}

	.avatar_perfil #seleccionar_foto a {
	  margin-top: 12px;
	}
}
	

#company-data{
		
	.bigthumb{display: none}
	
	.bigthumb img {
		max-width: none;
		width: 100%;
		height: 185px
	}
	#imagenes_ficha {
	  max-width: none;
	  float: none;
	  margin: 10px auto 0;
	  width: 100%;}
	
	#bloque_fotos {
  		position: relative;
		height: auto;
		text-align: center;
	
		a{float: none;}
	}
	
	.foto_thumb {
	  vertical-align: top;
	  height: auto;
	  max-height: 108px;
	  max-width: 31.5%;
	  background-color: #ecf0f1;}
	
		h5 {
		width: 100%;
		border-top: 1px solid $gris-claro;}
	}
	
	#users-review{
		#arrange{ text-align: center}	
	}
	
	/*********************************/
	/* resultados */
.cuadro_empresa{	
	.brand-result {
		width: 90px;}
}
	
	/*ayuda*/
	#ayuda{
		#col_izq .term{text-align: center;}
		#col_izq p{
		  font-style:normal;
		  text-align: left;}
	}
	.menu-ayuda {
		margin: 20px auto 0;
	
	 .btn {
	  padding: 9px 3px;
	  font-size: 10.5px;
	  border-color: #8E8E8E;}
	}
	
	.img_desc {
	  width: 100%;
	  margin-top: 15px;
	  text-align: center;
		img{margin: 0 auto}
	}
	
	#contact textarea.form-control {
 	max-width: 600px;}
	
	#mapa iframe {
  	height: 130px;}
	
	#col_izq .bloque .txt_chico{
	text-align: left;   
	font-size: 12px;
  	line-height: 16px;}
	
	.view-company{ margin: 40px auto 0px;}
	

	.btn-group-justified {
  		display: block;

	  .btn-info{
		  margin: 0 auto;
		  float: left;
		  display: block;
		  border-radius: 5px;
		  margin-bottom: 5px;
	   	  width: 100%;}
	}
/////////////////////////////* 600px */////////////////////////////
}
@media all and (max-width: 600px) {
	
	/*SEGMENTOS*/
#segmentos h3 {
font-size: 1.1em;
margin-top: 5px;
}

#segmentos .thumbnail{
	text-align:center;}
	
	/*SEARCH*/
#search_box {
    width: 100%!important;
 }	
	#zona_box {
		width: 100%;}

	
.jumbotron #search_box {
    width: 67%;
  margin-right: 1.8%;
 }
	.adv-mid{padding: 0 15px 0 15px}
	
 #buscar_btn {
  width: 28%;}

.datos-perfil{
	.mi-info{width: 90%; margin: 10px auto 0}
	
	ul.mis-datos{ min-width: 100px;}
	
	.mis-links{
	width: 100%;   
	text-align: center;
  	clear: both;
	margin-top: 5px;}
}
	
	#bloque_datos .col-md-6{width: 100%}
	

/////////////////////////////* 480px */////////////////////////////
}
@media all and (max-width: 480px) {
	
.col-ss-12 {  width: 100%;}	
	
.hidden-ss { display: none}		

p{font: 500 12px/21px "Lato";}
	
h3{
  text-align: center;
  font: 300 20px/25px "Coustard";
  margin: 10px 0 0px 0;}

h5{margin: 5px auto 10px;}
		
#col_der{
	padding: 0 2px;
	 width: 100%;
	#bullets li{width: 95px;
		
		.bullets_txt{max-width: 45px;
			  display: block;
			  margin-top: 0px;
			  float: left;
			 
					strong{font: 400 12px/13px lato;
			 		font-style: italic
					}
				}
		
			.circlefa {
			  font: normal normal normal 19px/1 FontAwesome !important;
			  border: 2px solid;
			  min-width: 33px;
			}

		}
}

	#col_izq{ width: 100%;
		
	p { margin-bottom: 15px;}
	}
	
#slider_home #owl-demo {
  padding: 0 0;
  margin: 0 auto;
  max-width: 416px;	}
	
#footer {
  margin-top: 20px;
  font-size: 0.8em;}
	
.body {  min-height: 100px;}
	
	
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	width: 60%;}

	/*search */
#search .advanced_field {
  margin-bottom: 10px;
  width: 100%;}
	
#buscar_btn { width: 64%; text-align: center}
#home .jumbotron #search #toggle-advanced{width: 34%}
	
		/*SEGMENTO 480px*/
		.info-center{display: none}
		h4{  margin-top: 0;}
		
		ul.segmento li {
 		width: 50%;
  		height: 100px;}
		
		ul.segmento i {
		padding: 18px 14px 9px 14px;
  		font-size: 40px;
		}
	

	#slider_home {
		min-width: 250px;
		
		.item{width: 100%;}
	}
	

.text-info{display:none}


.cuadro_empresa{
  max-height: 150px;
	
	.brand-rating{ float: right;}
	
	.brand-result {
		 width: 70px;}
	
	.brand-info{margin-bottom: 0                                                       px!important}

	}
	.cartel .circlefa{display: none}
	
	h3.brand-name {
		margin-top: 5px;}
		
	.datos-perfil{
		.mis-links{
			float: none;
			margin: 10px auto 0}

		.mi-avatar{
			float: none; 
			margin: 15px auto 0 }
		
		ul.mis-datos {
			float: none;
			text-align: center;}
		
			.btn{
			margin: 0 5px; 
			width: 120px}
	}
	
	/*PERFIL 480px*/
	#perfil_usuario .col-xs-6{width: 100%}

	.avatar_perfil #seleccionar_foto{ 
		width: 100%; 
		float: none;
		min-width: 205px;
		}
	
	.avatar_btns {
		max-width: 166px;
		margin-top: 22px;}
	
	.avatar_perfil p.cond{
		width: 100%; 
		float: none;
		margin-top: 5px;}
	
	.bloque .medio_uno {
 	margin-right: 2%;}
	
	/*FICHA EMPRESA 480px*/
		
#header-company{
		
	.hr{margin: 0 0 5px;}
		
	.control-btns {
      clear: both;
	  float: none;
	  margin: 0 auto;
	  width: 148px;
	  text-align: center;
	  }

		.control-btns .btn {
		height: 35px;
		width: 37px;
		margin: 10px 0 0;
		padding: 6px 6px;
		float: none}

	 .avatar #logo_empresa {
	  min-width: 80px;
	  min-height: 80px;
	  margin-right: 5px;}
	
}
	
#company-data{
		h5 {
		border-top: 1px solid $gris-claro;
		padding-top: 10px}
	
		.bloque{margin-bottom: 0px}

	}
	
#users-review{
	.user-data {  padding: 10px 10px; 
  	text-align: center;}
	.comment_avatar{
		float: none;
 		margin: 0 auto;}
	
}

	/*/////////*/
}	