@charset "utf-8";
$rojo: #e74c3c;
$azul:#2c3e50;
$naranja: rgba(255, 175, 2, 9/10);
$amarillo:#f39c12;
$celeste:#3498db;
$gris-superclaro:#ECF0F1;
$gris-claro:#c5c5c5;
$gris-medio:#8e8e8e;
$gris-oscuro:#5d5d5d;
$aqua1:#7facb4;
$aqua2:#68929a;
$aqua3:#598085;
$aqua4:#496e76;
$aqua5:#3b5f6d;
$aqua6:#2e5262;
$fuente-uno: "Coustard";
$fuente-dos: "Lato";
$margin-top-row: 30px;

.icon_round {
	border: 3px solid;
	border-radius: 50%;
}

.line hr{color: $gris-superclaro}

.aqualine{
	border-top: 2px solid #7facb4;
   	margin-bottom: 30px;
 	padding-top: 10px;}

.mensaje-box{padding: 5px; border: 1px solid $amarillo; text-align: center}

/*prueba slider ficha */
#imagenes_ficha{max-width: 315px;   
	  margin: 0 auto;}

#bloque_fotos {
  position: relative;
  height: 245px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

#bloque_fotos a {
  float: left;
  margin-right: 2px;
}

.bigthumb {
  position: absolute;
  top: 260px;
  left: 0px;
  width: 100%;
  max-width: 310px;
  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  -o-transition: top 1s ease;
  -ms-transition: top 1s ease;
  transition: top 1s ease;
}

/*.featured {
  top: 65px;
  left: 0px;
  z-index: -3;
}*/

.foto_thumb {
	  height: 60px;
max-width: 102px;
background-color: $gris-superclaro
	/*width: 100%;
	max-width: 104px;
	height: 104px;
	margin-right: 1px;
	float: left;
	*/
}
.active_thumb{top: 65px;}

a:hover .foto_thumb {
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}
 
a:hover .bigthumb {
  top: 65px;
}



/*---------------------------------------
   2. GENERAL STYLES                
-----------------------------------------*/
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0
}

.form{  margin-top: 30px;}

.alpha {
	padding-left: 0!important
}

.omega {
	padding-right: 0!important
}

.nopadding {
	padding-left: 0;
	padding-right: 0
}

.inside_bloque {
	padding: 0 0 0 20px;
}


input[type="file"] {
  display: block;
  background-color: #ecf0f1;
  padding: 10px;
  font-size: 13px;
  border: 1px solid rgb(104, 146, 154);
  margin: 5px 0}



#page-wrap {
	font: 12px $fuente-uno, serif;
	color: #ccc;
	width: 430px;
	margin: 0 auto
}

a {
	cursor: pointer;
	color: #ffffff;
}

a.btn-danger {
	border-color: #e74c3c;
}

ul {
	list-style: none
}

p {
	margin: 5px 0;
	color: #8e8e8e;
	font: 300 14px/23px $fuente-dos;
}

.color-overlay {
	background: rgba(0, 0, 0, 0.6);
}

#navbar-main {
	float: left;
}

#navbar-user {
	float: right;
}

// Change the white to any color ;)
input:-webkit-autofill,
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	color: $gris-medio;
}

textarea {
	width: 100%;
	height: 80px
}
/*---------------------------------------
   3.2 TYPOGRAPHY               
-----------------------------------------*/

h1 {}

h2 {
	font-size: 12px;
	color: #ffffff;
	margin-left: 5px;
	margin-top: 15px
}

h2.second_tit {
	color: $gris-claro;
}

h3 {
	color: $azul;
	font: 300 28px/28px $fuente-uno;
	margin: 20px 0 6px;
	padding-top: 15px;
	margin: 3px 0 10px 0;
}

h3.titulo_section {}

h4 {/*cuadros segmento+ titulo popup*/
	font: 300 15px/18px $fuente-uno;
	color: #ffffff;
	margin-bottom: 4px;
	margin-top: 2px;

}

h5 {  margin-top: 0px;
	display: inline-block;
	color: $gris-oscuro;
	font: 600 14px/21px lato;
	font-style: italic;
}

h6 {
	/*resultados search + titulos desplegables en perfil empresa*/
}

p.info-section{ text-align: left}
a.link {
	color: #e95849;
	font-weight: 700;
	font-family: $fuente-dos;
	text-decoration: underline;
	font-style: normal;
}

a.nolink{color: $gris-medio;
 		font: 300 14px/23px "Lato";}

.txt_chico {
	font-size: 12px;
	line-height: 16px;
	}

.body {
	min-height: 500px;
	margin-top: 60px;
}

.cartel{ 
  width: 100%;
  max-width: 265px;
  padding: 20px 10px;
  background-color: rgba($gris-superclaro, 0.4);
  border: 1px solid $rojo;
  border-radius: 5px;
  text-align: center;
  margin: 0px auto 0;
	
	p{font: 600 13px/21px "Lato";
  margin-bottom: 8px;}
	
	.circlefa{color: $gris-medio}
}

#contact textarea.form-control {
  height: auto;
  height: 85px;
  margin: 0 auto;
  padding: 10px;}
/*---------------------------------------
   3.3 BUTTONS               
-----------------------------------------*/

.btn:focus,
.btn:active,
.btn,
.open .dropdown-toggle.btn {
	outline: inherit;
	border-color: inherit;
}

.standard-button {}

.secondary-button {}
/*--------------
SEARCH
--------------*/

#search {
	background-color: $gris-superclaro;
	padding: 0 10px 10px;
	.btn-default {
		background: none
	}
	#toggle-advanced {
		color: $rojo;
		border: 1px solid $rojo;
		float: left;
		padding: 0 6px;
		margin-top: 0;
		height: 34px;
	}
	.advanced_field {
		margin-bottom: 10px
	}
	#advanced {
		margin-left: -15px;
		margin-right: -15px;
	}
	
	.fa{ font-size: 10px;}
}

.con_search #search {
	h2 {
		display: none
	}
}

.ui-autocomplete-category {
	color: $rojo
}

#form_buscador {
	margin-top: 20px
}

#buscador {
	max-width: 1130px;
	 
}

#search_box {
	width: 50%;
	float: left;
	min-width: 100px;
	margin-bottom: 10px;
	margin-right: 1.4%;
}


#zona_box{  
	width: 31.5%;
  float: left;
  }

.wide {
	width: 67.1%!important;
  	margin-right: 1.4%!important;
}

.toggle_si {
	display: block!important;

}

.toggle_no {
	display: none!important;

}

.adv-mid{ padding: 0px 15px 0 10px}

.jumbotron .adv-mid {padding: 0}

#buscar_btn {
	cursor: pointer;
	height: 44px;
	border: 1px solid $rojo;
	margin-top: -1px;
	margin-bottom: 12px;
	width: 16%;
}

#buscar_btn:hover {
	color: #fff;
	background-color: #950f0f;
	border: 0
}
/* --------------------------------------
=========================================
   4. SECTION SPECIFIC CSS
=========================================
-----------------------------------------*/
/*========================================
   4.2 SECTION: HOME                
==========================================*/
/*---------------------------------------
   4.2.1 BASIC STYLES               
-----------------------------------------*/
.form_line{
	margin-bottom: 0px;
	width: 100%;
	display:  inline-block;
	p{text-align: left
	}
	
	}
.bloque .medio_uno{width: 48%;   
	display: inline-block;
    margin-right: 3%;}
.bloque .medio_dos{width: 48%; 
	display: inline-block;}

h5.dato{
	display: block; 
	border-bottom: 1px solid $gris-superclaro;
	margin-top: 15px}

.second-lvl {
	padding: 0!important
}

.bloque {
	margin-bottom: 25px;
	clear: both;
}

#col_der {
	margin-top: 10px;
	
	#info{  
		max-width: 285px;
  		padding: 0 15px;}
	#bullets li {
	margin-bottom: 15px;
		.bullets_txt {
			  line-height: 17px;
			max-width: 180px;
			display: inline-block;
			color: $gris-oscuro;
			
			span{ 
				font-size: 85%;
 				font-weight: 500;
			}
		}
	}
}

#col_central{
	  margin-top: 10px;
	  text-align: center;
	
	p strong{color: $celeste}
	
	#form input[type="submit"] {
		float: none; 
		text-align: center}
	
	
	.large-btn {width: 270px}
}
#col_izq {	
	margin-top: 10px;
	
	.term {
  font-size: 10.5px;
  font-style: italic;
  text-align: right;
  display: block;
  margin-top: 15px;
}
	
}
.col-line{padding-right: 8.33333333%;
border-right: 1px solid $gris-superclaro;}

.circlefa{color: $aqua1;
		font: normal normal normal 24px/1 FontAwesome!important;
  border: 3px solid;
  border-radius: 50%;
  margin-right: 6px;
  font-size: 24px;
  padding: 9px 8px 7px 8px;
  vertical-align: text-bottom;
  vertical-align: top;
  margin-top: 12px;
	  min-width: 42px;
  text-align: center;
		}

.nocircle{ 
  color:$aqua1;
  margin-right: 6px;
  font-size: 18px!important;
  padding: 0;
  vertical-align: text-bottom;
  text-align: center;}

.jumbotron {
	background-color: $azul;
	padding: 5px 0;
	margin-top: 0px;
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	h2 {
		font-size: 44px;
		line-height: 40px;
		text-align: center;
	}
	.subtitulo {
		font-size: 16px;
		line-height: 18px;
		width: 100%;
		background: $naranja;
		height: 40px;
		text-align: center;
		padding: 10px;
		color: #fff;
		margin-top: 18px;
		margin-bottom: -5px;
		font-weight: 500;
		}
}

#home .jumbotron {
	background: url(../img/jumbo.jpg) no-repeat center center;
	background-size: cover;
	margin-bottom: 0!important;
	margin-top: 30px;
	h2 {
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 0px;
		color: #ffffff;
		font-family: $fuente-uno
	}
	.linea2 {
		display: none
	}
	#search {
		background-color: transparent;
		#toggle-advanced {
			color: #ffffff;
			border-color: #ffffff;
			
		}
	}
}

#slider_home {
	.btn-info {
		  background-color: rgba(255,255,255,2/10);
		  border: 1px solid #ffffff;
 		  padding: 4px 25px;
		  color: #FFF;
	}
	.item_content {
		text-align: center;
		background-color: rgba(104, 146, 154, 9/10);
		padding: 5px;
		width: 50%;
		float: right;
		min-height: 160px;
	}
	.small {
		color: $azul;
		 margin-top: 0;
  margin-bottom: 10px;
  font: 600 13px/15px $fuente-dos;
		margin-top: 0;
	}
	#owl-demo {
		max-width: 1500px;
	}
	.item {
		width: 95%;
		min-width: 160px;
		display: inline-block;
	}
	.item-hogar {
		background: url(../img/portadas/03_hogares.jpg) no-repeat;
	}
	.item-vehiculo {
		background: url(../img/portadas/01_vehiculos.jpg)no-repeat;
	}
	.item-empresa {
		background: url(../img/portadas/03_empresa.jpg)no-repeat;
	}
	.item-comercio {
		background: url(../img/portadas/01_comercio.jpg)no-repeat;
	}
	i.fa {
		font-size: 2.4em;
		line-height: 38px;
		color: $azul;
		display: inline-block;
		margin: 10px auto 8px;
		text-align: center;
	}
	i.fa:hover {
		color: #ffffff;
	}
	i.fa-home,
	i.fa-shopping-cart {
		font-size: 2.8em;
	}
}

.bajada_home {
	text-align: center;
	margin: 20px 0 20px;
	font: 500 15px/20px lato;
}

#publicar_home {
	max-width: 820px;
	margin: $margin-top-row auto;
	font-size: 15px;
	
	i.fa {
		@extend .icon_round;
		font-size: 35px;
		padding: 9px;
		color: #868686;
		display: inline-block;
		vertical-align: middle;
		&:hover {
			color: #868686;
		}
	}
	p {
		font: 400 16px/18px Lato;
		display: inline-block;
		padding: 0 15px;
		span {
			color: $rojo;
			font-weight: 600
		}
	}
}


#cont_busq_adv {
	padding: 15px 15px 15px 40px;
	background-color: #dcdcdc;
	border: solid 1px #96bcde;
}

#flecha_adv {
	background: url(/static/img/flecha_adv.png) no-repeat;
	width: 34px;
	height: 31px;
	margin-left: -47px;
}

#busq_adv_title h3 {
	color: #1566b0;
	font-family: $fuente-uno;
	font-size: 26px;
	margin-bottom: 5px;
}

#cont_filtros p {
	color: #d91111;
	font-family: "Coustard";
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.li_cat {
	margin-left: 0px !important;
}

#lineas_v {
	margin: -22px 0 0 0;
}

.l_v1 {
	margin-left: 150px !important;
}

.l_v2 {
	margin-left: 225px !important;
}

.foto_nota {
	width: 180px;
	height: 120px;
	border: solid 1px #8e9492;
	margin-right: 10px;
}

.nota {
	padding: 10px;
	border: solid 3px $gris-medio;
	background-color: $gris-superclaro;
	margin-top: 20px;
}

.contenido_nota {
	width: 50%;
	height: 120px;
	overflow: hidden;
	color: $gris-oscuro;
}

.ampliar {
	width: 62px;
	height: 42px;
	margin-top: -40px;
	margin-left: 500px;
}

#banner {
	width: 300px;
	height: 250px;
	margin-left: 5px;
	padding: 5px;
	background-color: $gris-superclaro;
	border: 1px solid $gris-medio;
	box-shadow: 0 0 2px 0 $gris-oscuro;
}

#banner2 {
	width: 300px;
	height: 100px;
	margin: 25px 0 0 5px;
	padding: 5px;
	background-color: $gris-superclaro;
	border: 1px solid $gris-medio;
	box-shadow: 0 0 2px 0 $gris-oscuro;
}

#social_footer img {
	margin: 2px;
}

#social_footer h3 {
	color: #666;
	font-family: "Coustard";
	font-size: 14px;
}

#termsheet {
	height: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #333;
	text-align: justify;
	
	.panel-body {
		padding: 10px 15px 15px;}
	
	.panel-group {margin-top: 20px;}
	
	.panel-group .panel {margin-bottom: 10px;}

	.panel-default > .panel-heading {
	  	color: $aqua1;
	  	background-color: #FFFFFF;
	  	border: solid 1px $aqua1;
	
	 	.rotate_fa {  
			-ms-transform: rotate(20deg);
	  		-webkit-transform: rotate(20deg);
		    transform: rotate(-90deg);
		}
	}
	
}

#banner_container a img {
	height: 250px;
	width: 300px;
}

#ver_notas {
	margin-left: 515px;
	margin-top: -25px;
	position: absolute;
	text-decoration: underline;
}

#ver_notas a {
	color: $rojo;
	font-size: 12px;
	font-style: italic;
}

.texto_bienvenida {
	color: #1566b0;
	font-size: 14px;
}

.texto_bienvenida h3 {
	color: #1566b0;
	font-family: "Coustard";
	font-size: 28px;
	margin: 30px 0 6px 0;
}

div.ui-datepicker {
	font-size: 10px;
}

.flash_msg_cont {
	text-align: center;
	width: 100%;
	position: fixed;
}

.flash_msg {
	background-color: #F9EDBE;
	border: 1px solid #F0C36D;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 2/10);
	display: inline-block;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	margin-top: 8px;
	padding: 6px 10px;
	position: static;
	text-align: center;
	z-index: 990;
}

#segmentos .thumbnail {
	max-width: 228px;
	background-color: rgba(255, 255, 255, 8/10);
	border: 1px solid rgba(255, 255, 255, 5/10);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 3/10);
}
/*---------------------------------------
   4.2.2 NAVIGATION                
-----------------------------------------*/
/* 	LEVEL ONE */

ul.dropdown {
	position: relative
}

ul.dropdown li {
	font-weight: 700;
	float: left;
	zoom: 1
}

ul.dropdown a:hover {
	color: #000
}

ul.dropdown a:active {
	color: #005695
}

ul.dropdown li a {
	display: block;
	padding: 4px;
	color: #666
}

ul.dropdown li.hover,
ul.dropdown li:hover {
	background: #C9E0F1;
	color: #000;
	position: relative
}

ul.dropdown li.hover a {
	color: #000
}
/* 	LEVEL TWO */

ul.dropdown ul {
	width: 160px;
	visibility: hidden;
	position: absolute;
	top: 80%;
	left: 0;
	text-transform: capitalize
}

ul.dropdown ul li {
	font-weight: 400;
	color: #000;
	border-bottom: 1px solid #ccc;
	float: none;
	text-align: left
}
/* IE 6 & 7 Needs Inline Block */

ul.dropdown ul li a {
	border-right: none;
	width: 100%;
	display: inline-block;
	background-color: #ebeced
}
/* 	LEVEL THREE */

ul.dropdown ul ul {
	left: 100%;
	top: 0
}

ul.dropdown li:hover > ul {
	visibility: visible;
}

.flecha_busqueda {
	font-size: 13px;
	color: #d91616
}

.dropdown-menu {
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 2/10);
	border-radius: 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 2/10);
	display: none;
	float: left;
	left: 0;
	list-style: none outside none;
	margin: 1px 0 0;
	min-width: 160px;
	padding: 4px 0;
	position: absolute;
	top: 100%;
	z-index: 1000;
	background: rgba($azul, 9/10);
}

.dropdown-menu.pull-right {
	left: auto;
	right: 0
}

.dropdown-menu .divider {
	background-color: #E5E5E5;
	border-bottom: 1px solid #FFF;
	height: 1px;
	margin: 8px 1px;
	overflow: hidden
}

.dropdown-menu a {
	clear: both;
	color: #333;
	display: block;
	font-weight: 400;
	line-height: 18px;
	padding: 3px 15px;
	white-space: nowrap
}

.dropdown-menu li > a {
	border-top: 1px solid $azul;
	color: #ffffff
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
	background-color: #08C;
	color: #FFF;
	text-decoration: none
}

.navbar-default .navbar-brand {
	color: transparent!important;
	background: url(../img/logo_panoplic_h.png) no-repeat;
	width: 160px;
	margin-top: 5px;
	height: 55px
}

.navbar-default .navbar-brand:hover {
	background: url(../img/logo_panoplic_white.png) no-repeat
}

.navbar .avatar {
	width: 35px;
	height: 35px;
	float: left;
	margin-top: 12px;
	background: none;
}

.navbar .avatar img {
	width: 100%;
	height: 100%
}

#logo img {
	margin: 0 auto
}

#logo {
	color: #ca1a1a;
	padding: 10px 15px 0;
}

.navbar-toggle i.fa-user {
	font-size: 23px
}

.navbar-toggle {}

.nav-bar-user .avatar {
	margin-top: -8px;
}

.navbar-header .logueado {
	&:hover {
		background: none!important
	}
	&:active {
		background: none!important
	}
	&:visited {
		background: none!important
	}
	&:focus {
		background: none!important
	}
}
/*========================================
  9.4 SECTION: POP UP  Y LOGUIN    
==========================================*/

#form_login {
	margin-top: 10px;
	font-size: 12px;
}

#form_login input[type="submit"] {
	cursor: pointer;
	display: inline-block;
	width: 100%;
}
#form input[type="submit"] {
	max-width: 275px;
	float: none;
	width: 100%;
	height: 42px;
	  float: right;
}

#form_login label {
	display: inline-block;
	margin-top: 12px
}

#login_pop {
	background-color: rgba(0, 0, 0, 5/10);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 100;
	position: fixed;
	#check {
		margin: 30px 0 15px
	}
	input[type="checkbox"] {
		padding: 0;
		height: 34px;
		margin-right: 0px;
		box-shadow: none;
		float: left;
		width: 10px;
	}
	.modal_body {
		width: 280px;
		padding: 20px;
		background-color: $gris-superclaro;
		border-radius: 5px;
		border: solid 1px rgba(22, 101, 176, 0.06);
		left: 50%;
  		margin-left: -140px;
		top:80px;
		box-shadow: 1px 2px 4px $gris-oscuro;
		position: absolute;
		
	}
	h4 {
		color: #1665b0;
		font-family: "Coustard";
		font-size: 20px;
		margin: 0 0 3px
	}
	.social-loguin {
		clear: both
	}
	.label_ses {
		font-style: italic;
		font-weight: 400;
		font-size: 13px;
	}
	.form-control {
		margin: 5px 0
	}
}

#cerrar {
	margin-top: -15px;
	margin-right: -10px;
	float: right;
	color: $rojo;
	font-size: 20px;
}

#login_pop_bus {	
 	z-index: 99;
	width: 250px;
	padding: 20px;
	background-color: $gris-superclaro;
	border-radius: 5px;
	border: solid 1px $celeste;
	position: absolute;
	right: 10%;
	top: 34px;
	box-shadow: 2px 2px 6px $gris-claro;
		
	h4 {
	color: #1665b0;
	font-family: "Coustard";
	font-size: 20px;
	margin: 0 0 3px
	}
	
	.form-control{  
		height: 30px;
 		margin-bottom: 5px;}
	
}

#inv_log {
	color: red;
	font-size: 12px;
	font-weight: 700
}

#guardar_txt {
	font-size: 12px;
}

.input-group-btn .btn {
	margin-top: 0
}

.social-loguin {
	max-width: 180px;
}
/*========================================
  5.2 SECTION: SEGMENTOS                
==========================================*/
.segmentos{margin-bottom: -20px;}
#segmentos_homes .jumbotron {
		  background: url(../img/portadas/bg_tips_homes.jpg) repeat-x;
		  margin-bottom: 0px;}

#segmentos_vehicles .jumbotron {
		  background: url(../img/portadas/bg_tips_vehiculos.jpg) repeat-x;
		  margin-bottom: 0px;}

#segmentos_enterprises .jumbotron {
		  background: url(../img/portadas/bg_tips_empresas.jpg) repeat-x;
		  margin-bottom: 0px;}

#segmentos_businesses .jumbotron {
		  background: url(../img/portadas/bg_tips_comercios.jpg) repeat-x;
		  margin-bottom: 0px;
	}

.info-center{margin: 25px auto 0px}

ul.segmento {
	a {
		text-decoration: none
	}
	i {
		font-size: 49px;
		text-align: center;
		padding: 30px 14px 9px 14px;
		display: block;
		
	}
	li {
		height: 145px;
		text-align: center
	}
	li.cuadro1 {
		background-color: $aqua6
	}
	li.cuadro2 {
		background-color: $aqua5
	}
	li.cuadro3 {
		background-color: $aqua4
	}
	li.cuadro4 {
		background-color: $aqua3
	}
	li.cuadro5 {
		background-color: $aqua2
	}
	li.cuadro6 {
		background-color: $aqua1
	}
}
/*========================================
  6.4 SECTION: AYUDA                
==========================================*/

#ayuda {
	.jumbotron {
		background: url(../img/portadas/bg_ayuda.jpg) repeat-x;
	}
	.btn-danger{min-width: 270px; margin-top: 10px}
	
	#col_izq .term{ text-align: right;}
	
	.menu-ayuda{  margin-bottom: 15px;
	
	.btn-group-justified {
	table-layout: auto;}
	
	.btn{  padding: 10px 5px;
  font-size: 13px;
	  border-color: #8E8E8E;}
	}
}

.img_desc {
	width: 100%;
	margin-top: 15px;
}

.epigrafe p {
  width: 100%;
  padding: 10px 0;
  font: 400 13px/13px "Lato";
  color: $celeste;
  font-style: italic;
}


/*========================================
  7.4 SECTION: PERFIL USUARIO Y EMPRESA              
==========================================*/

#perfil_empresa,
#perfil_usuario,
#registro_empresa,
#registro_usuario,
#confirmacion_registro {
	.jumbotron {
		background: url(../img/portadas/bg_ayuda.jpg) repeat-x;
	}
}

ul.square{
	li{background-color:$gris-superclaro; 
		height: 120px; 
		width: 120px;} 
	.middle{margin:0 5px}
	}

.bloque-input {
	margin: 5px auto 10px;

	.top {
		border-radius: 5px 5px 0 0!important;
		margin-bottom: -1px;
	}
	.mid {
		border-radius: 0;
		margin: -1px 0;
	}
	.bot {
		border-radius: 0 0 5px 5px!important;
		margin-top: -1px;
	}
}


label {
	display: block;
	margin-left: 5px;
	margin-top: 15px;
	text-align: left;
}

#foto2 img{ margin: 0 0.8%}

#imagenes_aside img{
	 max-width: 220px;
 	 width: 32.7%;
 	 float: left;}

.avatar_secciones{background: $gris-superclaro; 
	max-height: 100px;
	max-width: 100px;}

.datos-perfil{
	.mis-links{margin-top: 40px; 
		width: 120px;
	  float: right;}
	
	.btn{
		margin-top: 5px; 
		width: 120px}
	
	.mi-avatar{
		float: left; 
		margin-right:  5px; 
		width: 114px;
		margin-top: 20px}

	ul.mis-datos{ 
		font: 500 13px/15px $fuente-dos;
		float: left;
		min-width: 305px;
		color: $gris-oscuro;
		margin-top: 20px;
	  text-align: left;}

	ul.mis-datos li{margin-bottom: 5px}
	
	.mi-nombre{
		color: $celeste; 
		font: 500 15px/15px $fuente-uno;
			}
	}

.mis-busquedas, .mis-favoritos{
	margin-top: 25px; 
	border-top:3px solid $aqua1;
	padding-top: 10px}

.avatar_perfil {
	p.cond{border: 1px solid $gris-medio;
		padding: 2px 5px 5px;
  		margin-top: 15px;
	  line-height: 16px;}
 
	#cont_foto_usr {
		margin: 18px 0;
	}
	
	#logo_empresa{
		border: 1px dotted;
		min-width: 100px;
		width: 25%;
		height: 100px;
		margin-right: 8px;
		float: left;
		background-color: rgb(231, 231, 231);
		vertical-align: top;}
	
	#foto_usr {
	  min-width: 100px;
	  width: 25%;
	  height: 100px;
	  margin-right: 8px;
	  float: left;
	  vertical-align: top;
	}
	
	#seleccionar_foto {
		min-height: 100px;
		width: 100%;
		
		a{  margin-top: 27px;}
	}
}

.form_box {
	width: 70%;
	display: inline-block;
	padding: 0 0 0 7px;
	text-align: right
}

.nombre_campo {
	margin: 9px 0 2px 0;
	font-weight: 600;
}



select {
	width: 100%;
}

.nombre_imagen {
	left: 56px;
	position: relative;
}

#resultados {
	margin-top: 20px;
	color: #acacac;
	font-family: "Coustard";
	font-size: 34px;
	width: 793px;
}

#ruta {
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #1566b0;
}

#ruta a {
	text-decoration: underline;
}

#cont_resultados_guardar {
	width: 925px;
	margin-top: -15px;
}



#cont_filtros {
	margin-top: -10px;
}

#nuevos_filtros {
	font: "Times New Roman", Times, serif 11px;
	color: #db3535;
	margin-bottom: 5px;
	margin-top: 20px;
}

.f1 {
	height: 115px;
	width: 205px;
	margin-left: 80px;
}

label {
	display: block;
	margin-left: 5px;
	margin-top: 10px;
}

#cont_nombre_logo {
	position: relative;
}

#keywords {
	font-size: 12px;
	color: #D91414;
	margin-top: 20px;
}

#tags {
	float: left;
	height: 100px;
	border: 1px solid #333;
	width: 100%;
}

#listas,
#fotos {
	height: 20px;
	margin-left: 10px;
	font-size: 12px;
}

#titulo h3,
#titulo span {
	display: inline;
	font-family: "Coustard";
	font-size: 13px;
	color: #1a68b2;
	margin-top: 10px;
}

#keywords {
	font-size: 11px;
	color: #D91414;
	margin-top: 5px;
}

#cont_nombre_logo {
	position: relative;
}

#escribinos {
	width: 99px;
	height: 25px;
	margin-top: 167px;
	margin-right: 5px;
}

.campo {
	color: #4785be;
	font-weight: bold;
}

#mapa {margin-top: 0px;
	iframe{width: 100%;}
	
}

#difundir {
	font-size: 10px;
	color: #b6b6b6;
	border: #999 solid 1px;
	margin-top: 12px;
	margin-bottom: 15px;
	margin-right: 5px;
	padding: 0 5px;
	background-color: #f5f5f5;
	width: 140px;
}

#dia {
	width: 50px;
	margin-bottom: -2px;
	background-color: #C9DCEE;
	border: 1px solid #A8D0D7;
	font-family: Verdana, Geneva, sans-serif !important;
	font-weight: normal !important;
	height: 19px;
	color: #1f5b93;
	font-size: 11px;
}

#mes {
	width: 150px;
	margin-bottom: -2px;
	background-color: #C9DCEE;
	border: 1px solid #A8D0D7;
	font-family: Verdana, Geneva, sans-serif !important;
	font-weight: normal !important;
	height: 19px;
	color: #1f5b93;
	font-size: 11px;
}

#anio {
	width: 75px;
	margin-bottom: -2px;
	background-color: #C9DCEE;
	border: 1px solid #A8D0D7;
	font-family: Verdana, Geneva, sans-serif !important;
	font-weight: normal !important;
	height: 19px;
	color: #1f5b93;
	font-size: 11px;
}

#genero {
	width: 100px;
	margin-bottom: -2px;
	background-color: #C9DCEE;
	border: 1px solid #A8D0D7;
	font-family: Verdana, Geneva, sans-serif !important;
	font-weight: normal !important;
	height: 19px;
	color: #1f5b93;
	font-size: 11px;
}

#contactar {
	margin-top: 12px;
	margin-left: 7px;
}

#listas {
	width: 54px;
	background: url(../img/lista.png) no-repeat;
	font-size: 12px;
	color: #535353;
}

.resultados_fav {
	padding: 5px 17px;
	font-size: 11px;
	color: $gris-medio;
	background-color: rgba($gris-superclaro, 5/10 );
	 
	
	.fav_eliminar {
		width: 45px;
		margin: 2px;
	}
	.fav_nombre {
		color: $azul;
		font-weight: bold;
		padding-top: 5px;
		a:hover {
			color: $azul;
			text-decoration: none
		}
	}
}

.modulo {
	width: 130px;
	height: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #dddddd;
}


.busqueda_categoria {
	font-weight: bold;
	text-align: right;
	padding-right: 7px;
	width: 130px;
}

.busqueda_subcategoria {
	width: 120px;
	height: 272px;
	box-shadow: 0px 0px 2px 0px $gris-oscuro;
}

.busqueda_eliminar {
	width: 245px;
	font-style: italic;
	margin-top: 20px;
}

.input_error {
	background-color: #FAEDED!important;
	border: solid 1px $rojo !important;
}

#editar_datos {
	margin-left: 190px;
	color: #b1b1b3;
	display: inline;
	margin-top: 60px;
}
/* Filtros de busqueda */

#nuevos_filtros {
	font-size: 10px;
	color: red;
	margin-bottom: 5px;
	font-size: 12px;
	font-style: italic;
}

#cont_filtros_guardar {
  padding: 5px;
  float: right;
  margin-top: -65px;
  width: 142px;
}


#no_valido {
   width: 100%;
  padding: 10px 12px 0px;
  font-size: 14px;
  margin: 0 auto;
}


#form input[type="checkbox"] {
	display: inline;
	margin-left: 1px;
	margin-top: 10px;
	width: 99px;
}

.f1 {
	height: 115px;
	width: 205px;
	margin-left: 80px;
}

#listas,
#fotos {
	height: 25px;
	margin-left: 10px;
	font-size: 12px;
}

#errores p {
	font-size: 10px;
	font-weight: bold;
}

#errores li {
	font-size: 12px;
	list-style-type: square;
}

#errores ul {
	margin-right: 5px;
}


/*========================================
  8.4 SECTION: RESULTADOS           
==========================================*/

.cuadro_empresa {
	padding: 5px 0;
	width: 100%;
	max-height: 135px;
	margin: 0 auto 15px;
	background-color: #FFFFFF;
	border-top: 1px solid $gris-claro;
	border-bottom: 1px solid $gris-claro;
	
	.brand-result {
		width: 115px;
		margin-right: 10px;
		float: left;
	
		.logo_empresa {
			width: 100%;
			height: 106px;
			margin: 0;
			background-color: $gris-superclaro;
			}
		}
	
		.ampliar-result {
		padding-right: 0;
		text-align: right
	}
	h3.brand-name {
		padding-top: 0px;
		font: 400 18px/18px $fuente-uno;
		margin-bottom: 2px;
		text-align: left;
		a {
			color: $aqua3;
			text-decoration: none;
		}
		span {
			font-style: italic;
			color: $gris-medio;
			}
		}
}

	.btn-default {
		margin-top: 36px;}

.btn-default {
		color: $rojo;
		border: 1px solid $rojo;
		background: none;
		&:hover {
			color: #fff;
			border: 1px solid $rojo;
			background: $rojo
		}
}
.cant_resultados {
	text-align: center
}

.map_multiple {
	height: 212px;
	background: $gris-superclaro;
	width: 100%
}

.descripcion-result {
	text-align: left;
	min-height: 100px;
	overflow: hidden;
	margin: 7px 0 10px;
	padding-left: 0;
	p {
		margin: 2px 0 5px;
		color: $gris-oscuro;
		font: 400 14px/20px "Lato";
	}
}

#mas_resultados {
	font-size: 12px;
	font-weight: bold;
	color: #1566B0;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}
/*========================================
  9.4 SECTION: FICHA EMPRESA         
==========================================*/

.report-txt{font-size: 11px;}
.appear {
	span {
		color: transparent;
		transition: all 0.5s ease;
		}
}

.appear:hover {
	span {color: $gris-medio;}
}

.modal .datos-perfil .mi-avatar {
  float: right;
  margin-right: 0;
  width: 100px;
  margin-top: 16px;}

/*Sección encabezado*/
#header-company {
	padding: 20px 0 10px 0;

	.avatar{  
		display: inline-block;
	  	vertical-align: top;}
	
	.avatar #logo_empresa{  
		min-width: 130px; 
		margin-right: 10px;
		min-height: 100px;
  		background-color: aliceblue;}
	
	h3 {
		color: $aqua2;
		padding-left: 5px;
		padding-top: 0;
	}
	
	hr{  
		margin: 12px 0;
		border: 0;
		clear: both;
		padding-top: 4px;
		border-bottom: 1px solid #ecf0f1;}
	
	#titulo {
	display: inline-block;
	h2 {
		color: $aqua2;
		margin: 0;
  		line-height: 22px;
  	  	font-size: 24px;
		}
	}
	
	.control-btns {
	  margin-top: 62px;

	.btn {
		padding: 0px 10px;
		border: 1px solid $rojo;
		background-color: #fff;
		color: $rojo;
		padding: 7px 6px;
  		height: 38px;	
		float: right;
 	    margin-left: 5px;
		}
	h5 {color: $rojo}
	
	.contactbtn a {	color: $rojo	}		
}
}

/*Sección Datos*/
#company-data{
	
	#cont_datos {
		padding: 1px;
		color: #676767;
		margin-right: 9px;
		clear: both;
		margin-top: 5px;
		border-bottom: 1px solid red;
		}
	
		.panel-body {padding:0px 15px 10px}

	
		h5 {padding-top: 10px;
		margin-bottom: 0;
	  	font: 600 16px/21px $fuente-dos}
			
		#col_izq p{margin-bottom: 5px}
	
		h5 a.desplegables {	
		color: $aqua2;
		
		&:visited span,
		&:hover span,
		&:active span {
			transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			color: red
			}
		}
}

/*Sección Opiniones*/

#users-review{
	
	h3 { font-size: 17px;
 		 margin: 10px 0 5px 0;}
	
	p.post-date{
		font: 400 11px/19px "Lato";
		color:$gris-medio;
		font-style: italic}
		
	.vote-count{
		color:$gris-oscuro;
		font: 400 12px/19px "Lato";
		}
	
	p.review-text{font: 400 14px/19px "Lato";}
	
	#arrange{ 
			font: 400 14px/19px "Lato"; 
			color:$gris-oscuro;}
}



.delete-img-box{  
	padding: 4px;
    width: 33%;}

.delete-img{  
	position: absolute;
 	background-color: white;
 	padding: 1px 5px;
	border: 1px solid $gris-medio;
	&:hover{color:white; background-color: $rojo; }}

/* STAR RATING*/

.star {
	background: url(../img/stars.png) no-repeat;
	height: 14px;
	width: 69px;
	display: inline-block
}

.star-0 {
	background-position: 0 0
}

.star-1 {
	background-position: 0 -13px
}

.star-2 {
	background-position: 0 -26px
}

.star-3 {
	background-position: 0 -39px
}

.star-4 {
	background-position: 0 -52px
}

.star-5 {
	background-position: 0 -65px
}
/* RESEÑAS */

#write-review {
	background-color: $gris-superclaro;
	  padding: 25px 10px;
}

.review {
	border-bottom: 1px solid $gris-claro;
	margin-bottom: 20px
}

.people-review{
	margin: 25px 0;
	padding: 0 0 20px;

	.rating-container {
	  font-size: 18px;}
	.rating-xs {
  	  font-size: 1.6em;
	  margin-left: -6px;
}
}

.user-data {
	text-align: right;
}

.review-data {
	border-left: 1px solid $amarillo;
	
	.star-rating{  display: inline-block;}
	
	.star-txt{color: $rojo}
	
	.upload{  
		border-radius: 50%;
  		position: relative;
  		top: -40px;
		right: 7px;
		padding: 3px 7px;
		float: right;}
	
	.review-data{border: none}
	
	h5{color: $aqua1;   
		font-style: normal;}
	
	textarea {
		height: 75px;
		margin-top: 10px
	}
	.btn-danger {
		max-width: 150px
	}
}

.rating {
	width: 150px
}

.show-upload-images {}

.report-review-btn{
	position: absolute;
  	right: 0;
  	font-size: 14px;}

.comment_avatar{
	max-width: 50px;
  	float: right;
 	margin-bottom: 10px;}

.comment_username{
	font-weight: 600;
	margin-bottom: 5px;
	color: $azul;
	text-transform: capitalize;
	clear: both;
	}

.comment_username a{background: transparent; color: $azul; text-decoration: none}
.comment_username a:hover{color:$celeste}

.user_rank{font-style: italic}

.review_tit{
	color: $aqua1; 
	font: 500 14px/16px $fuente-uno;
 	letter-spacing: 0.03em;
  	margin: 5px 0 0;}

.upvote-form, .unvoted{
	display: inline-block}

  #edit-form {
	padding: 25px 30px;
  	border-radius: 5px;
	background-color: $gris-superclaro;}


ul.upload-images {
	li {
		width: 100%;
		
	}
	input {
		color: $gris-oscuro;
		border: 1px dashed $gris-medio;
		background-color: rgba($gris-superclaro, .2);
		height: 41px;
  		border: 1px dashed #8e8e8e;
 		max-width: 100%;
	}
}

ul.review-images {max-width: 550px;
	
	.rev-image2{margin: 0 5px}
	
	li {
		width: 30%;
		padding-right: 1.5%;
		display: inline-block;
		vertical-align: middle;
	}
	img {
		 width: 100%;
		 max-width: 150px;
		 margin: 0 auto;
	}
}

/*LIGHTBOX*/
.lightbox {
	.modal-content{
		padding: 5px 10px;
		.caption{  width: auto!important;
 		 max-width: none!important;
		margin: 20px auto}
	}	
}

.report{background: none;
		  float: right;
	.fa{color:$rojo}
}

.cartel-report{
	max-width: 387px;
	width: 95%; 
	background: $gris-superclaro;
	border: 1px solid $gris-claro; 
	padding: 5px 10px;
	position: absolute;
 	right: 15px;
 	z-index: 99;
	}

.report-close{
	color:$rojo; 
	float: right;
	background-color: transparent;}

#company-report textarea.form-control{max-height: 100px;}

/***************/

.star-company {
	color: $amarillo;
	line-height: 14px;
	font-size: 14px;
	margin-top: 12px;
}

#form_filtros {
	background-color: $gris-superclaro;
	padding: 10px 20px;
	margin-bottom: 5px;
	width: 100%;
	select {
		color: #1566B0;
		height: 25px;
		line-height: 18px;
		margin: 5px 5px 0 0;
		padding: 3px 4px 4px;
		width: 180px;
	}
	h4 {
		color: #D61A1A;
		display: inline;
		font-family: $fuente-uno;
		font-size: 12px
	}
}

.social-loguin li {
	margin-bottom: 5px
}

input.btn-danger {
	float: right;
	border: 1px solid $rojo;
	cursor: pointer;
	padding: 6px 10px;
	margin-top: 10px;
}

.txt_error {
	font-size: 11px;
	color: red;
	margin-left: 5px;
	font-style: italic
}


#guardar {
	width: 100px;
	font-size: 11px;
	color: #717171;
	margin-top: 10px;
	 a { 
	color: #1566b0;
	text-decoration: underline;
	}
	span{float: left}
}


#nuevos_filtros {
	font-size: 10px;
	color: #db3535;
	margin-bottom: 5px;
	margin-top: 10px
}

#cont_form {
	width: 100%;
	font-size: 12px;
	color: #6e6e6e;
	padding-top: 10px;
	margin-bottom: 20px;
	font-weight: 700
}


.form_col span {
	font-size: 10px
}

.light_it {
	font-style: italic!important;
	font-weight: 400!important
}

#form label {
	color: $celeste;
	display: block;
	margin-left: 1px;
	margin-top: 15px;
	font-size: 12px;
	font-weight: bold;
	
}

#listas,
#fotos {
	height: 20px;
	margin-left: 10px;
	font-size: 12px
}

#contenido p {
	font-size: 12px;
	color: #b1b1b3;
}

#guardar {
	  width: 130px;
	  font-size: 11px;
	  color: #717171;
	  margin-top: 16px;
}

#errores {
	border: 1px solid $rojo;
	background-color: $gris-superclaro;
	color: $rojo;
	padding: 10px;
	width: 90%;
	p {
		font-size: 12px;
		font-weight: 700
	}
	li {
		font-size: 12px;
		list-style-type: square
	}
	ul {
		margin-left: 15px
	}
}

/*========================================
  9.4 SECTION: FOOTER   
==========================================*/

#footer {
	border-top: 1px solid $gris-claro;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	margin-top: 20px;
	color: $gris-claro;
	font-size: 0.9em;
	#footer_int {}
	ul li {
		display: inline;
		text-decoration: none;
		a {
			color: $gris-claro;
			text-decoration: none
		}
	}
}

#cont_footer {
	width: 100%;
	background-color: #DDD;
	color: #535353
}

.conoce_mas_container {
	height: 41px
}

.conoce_mas_texto {
	height: 41px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	margin-top: 20px
}

.conoce_mas_texto a {
	color: #3E3E3E;
	text-decoration: none;
	margin: 0 20px
}

.conoce_mas_texto a:hover {
	text-decoration: underline
}

.conoce_mas_boton {
	background-color: #45ff53;
	width: 190px;
	height: 47px;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: 700;
	color: #d6faff;
	padding-left: 30px;
	padding-top: 13px;
	margin: 5px 0 0 -10px
}
/*========================================
  9.4 SECTION: SOCIAL    
==========================================*/

#social_footer {
	text-align: center;
	background-color: #2c3e50;
	width: 100%;
	height: 140px;
	margin-bottom: -50px;
	ul li {
		display: inline;
		text-decoration: none;
	}
	a {
		color: #fff;
		text-decoration: none
	}
}

#social_btns {
	margin: 0 auto;
	text-align: center;
	
	h5 {
	color: #666;
	font-size: 14px;
	padding-top: 0;
	display: block}
	
	.face_btn {
		display: inline-block;
		width: 40px;
		height: 40px;
		background: url(../img/facebook.jpg) bottom;
		margin: 3px;
		background-position: 0 0
	}
	.face_btn:hover {
		background-position: 0 40px
	}
	.twitter_btn {
		display: inline-block;
		width: 40px;
		height: 40px;
		background: url(../img/twitter.jpg) bottom;
		margin: 3px;
		background-position: 0 0
	}
	.twitter_btn:hover {
		background-position: 0 40px
	}
	.linkedin_btn {
		display: inline-block;
		width: 40px;
		height: 40px;
		background: url(../img/linkedin.jpg) bottom;
		margin: 3px;
		background-position: 0 0
	}
	.linkedin_btn:hover {
		background-position: 0 40px
	}
	.google_btn {
		display: inline-block;
		width: 40px;
		height: 40px;
		background: url(../img/googleplus.jpg) bottom;
		margin: 3px;
		background-position: 0 0
	}
	.google_btn:hover {
		background-position: 0 40px
	}
	.youtube_btn {
		display: inline-block;
		width: 40px;
		height: 40px;
		background: url(../img/youtube.jpg) bottom;
		margin: 3px;
		background-position: 0 0
	}
	.youtube_btn:hover {
		background-position: 0 40px
	}
	.pinterest_btn {
		display: inline-block;
		width: 40px;
		height: 40px;
		background: url(../img/pinterest.jpg) bottom;
		margin: 3px;
		background-position: 0 0
	}
	.pinterest_btn:hover {
		background-position: 0 40px
	}
}
/*========================================
  9.4 SECTION: FILTROS       
==========================================*/

#cont_filtros_guardar {
	padding: 5px
}

#resultados h3 {
	font-family: "Coustard";
	font-size: 28px;
	color: #b1b1b3;
	display: inline;
	margin-right: 10px;
}

#resultados span {
	font-family: "Coustard";
	font-size: 14px;
	color: #b1b1b3;
}

#resultados {
	margin: 10px 0;
}

#listas {
	width: 30px;
	height: 18px;
	padding: 2px;
	border-radius: 3px 3px 0 0;
	text-align: center;
	background-color: #fafbfc;
	box-shadow: 0px -1px 2px $gris-oscuro;
	overflow: hidden;
}

#fotos {
	width: 30px;
	height: 18px;
	padding: 2px;
	border-radius: 3px 3px 0 0;
	text-align: center;
	background-color: #fafbfc;
	box-shadow: 0px -1px 2px $gris-oscuro;
	overflow: hidden;
}

#cont_visualiza {
	margin-top: 10px;
	margin-bottom: -5px;
}

#banner_container {
	margin-top: 50px !important;
}

.banner_imagen {
	background: url(/static/img/banner.png) no-repeat;
	width: 320px;
	height: 272px;
	box-shadow: 0px 0px 2px 0px $gris-oscuro;
}


#login_pop_bus {
	display: none;
}
/*========================================
  9.4 SECTION: REGISTRAR    
==========================================*/

.vertical {}

.input-top {
	border-radius: 5px 5px 0 0
}

.input-mid {
	order-radius: 0
}

.input-bot {
	border-radius: 0 0 5px 5px
}
/*========================================
  9.4 SECTION: Estaticas     
==========================================*/

#conoce_titulo {
	color: #B1B1B3;
	font-family: "Coustard";
	font-size: 28px;
	margin: 20px 0;
}

#banner_static {
	width: 300px;
	height: 250px;
	margin-left: 5px;
	margin-top: 10px;
	padding: 5px;
	background-color: $gris-superclaro;
	border: 1px solid $gris-medio;
	box-shadow: 0 0 2px 0 $gris-oscuro;
}

.breadcrumb {
	font-family: Arial, Helvetica;
	font-size: 11px;
	margin-bottom: 15px;
	color: #333;
}

.breadcrumb a {
	color: #1566B0;
	text-decoration: none;
}

.breadcrumb a:hover {
	color: #333;
	text-decoration: underline;
}

#cont_como h5 {
	color: #4785BE;
	font-size: 14px;
	font-weight: bold;
}

#tips {
	margin: 0;
	padding: 10px 0;
	list-style-type: decimal;
	list-style-position: inside
}

#tips li {
	padding: 5px;
	font-size: 14px;
	line-height: 16px;
	color:$celeste;
	font-weight: bold;
	text-align: left;
}

.letra_chica {
	font-size: 10px;
	font-style: italic;
}

#content_form {
	position: relative;
	width: 300px;
	height: 300px;
	background-color: #fff;
	float: left;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
}

#content_follow {
	position: relative;
	width: 240px;
	height: 300px;
	background-color: #fff;
	float: left;
	margin-left: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
}

#content_form_title {
	width: 300px;
	height: 40px;
	background-color: #d0eff6;
	border-bottom: 1px solid #c4c4c3;
}

#content_form_title img {
	float: left;
}

#content_form_title p {
	float: left;
	font-family: "Novecento", Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #3da1d4;
	font-size: 15px;
	margin: 10px;
}

#content_form_form {
	width: 275px;
	padding: 10px;
	height: auto;
}

#content_form_form form li {
	list-style-type: none;
	border-bottom: 1px solid #a5c2d3;
	padding: 2px;
}

#content_form_form form INPUT[type='text'],
#content_form_form form TEXTAREA,
#content_form_form form SELECT {
	background-color: transparent;
	border: none;
	padding: 3px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #333;
}
/*========================================
  9.4 SECTION: ORIGINALES PANOPLIC 
==========================================*/

#fb_btn {
	background-image: url(../img/facebook.png);
	width: 23px;
	height: 21px;
	margin: 0 4px
}

#fb_btn:hover {
	background-image: url(../img/facebook_color.png);
	width: 23px;
	height: 21px;
	margin: 0 4px
}

#tw_btn {
	background-image: url(../img/twitter.png);
	width: 23px;
	height: 21px;
	margin: 0 4px
}

#tw_btn:hover {
	background-image: url(../img/twitter_color.png);
	width: 23px;
	height: 21px;
	margin: 0 4px
}

#ruta {
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px
}

.title {
	margin: 50px 0 15px
}

.input-group-btn {
	vertical-align: top
}

#lineatop {
	height: 6px;
	width: 100%;
	margin-top: 60px;
	background: #1665b0
}

#header {
	margin: 0 auto 0
}

#cont_login {
	max-width: 925px;
	margin: 0 auto
}

#login {
	font-size: 11px;
	color: #fff
}

#login a,
#login:hover,
#login:active,
#login:active a {
	color: #fff
}

#reg {
	background: #1665b0;
	border-left: solid 2px #0d4d89;
	border-bottom: solid 2px #0d4d89;
	border-right: solid 2px #0d4d89;
	border-radius: 0 0 5px 5px;
	height: 16px;
	padding: 0 5px;
	box-shadow: 1px 2px 2px $gris-oscuro
}

#red ul {
	margin-left: 10px
}

#red ul li {
	margin: 0 2px
}

#cont_red {
	margin: 5px auto;
	width: 230px
}


#go_btn {
	background-image: url(../img/google.png);
	width: 23px;
	height: 21px;
	margin: 0 4px
}

#go_btn:hover {
	background-image: url(../img/google_color.png);
	width: 23px;
	height: 21px;
	margin: 0 4px
}

#in_btn {
	background-image: url(../img/linkedin.png);
	width: 23px;
	height: 21px;
	margin: 0 4px
}

#in_btn:hover {
	background-image: url(../img/linkedin_color.png);
	width: 23px;
	height: 21px;
	margin: 0 4px
}

#ubicacion {
	font-family: "Coustard";
	font-size: 12px
}

#bus_pop {
	background-color: #eee;
	max-width: 615px;
	height: 200px;
	border: 1px solid #96BCDE;
	border-top: 5px solid #1665b0;
	z-index: 40;
	position: absolute;
	margin: -9px 0 0 140px;
	padding: 10px
}

#bus_pop label {
	font-size: 12px
}
/*========================================
  9.4 SECTION: NOTAS   
==========================================*/

/*#cont_busq_adv {
	padding: 15px 15px 15px 40px;
	background-color: #dcdcdc;
	border: solid 1px #96bcde;
}

#flecha_adv {
	width: 34px;
	height: 31px;
	margin-left: -47px;
}

#busq_adv_title h3 {
	color: #1566b0;
	font-family: "Coustard";
	font-size: 26px;
	margin-bottom: 5px;
}

#cont_filtros p {
	color: #d91111;
	font-family: "Coustard";
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.li_cat {
	margin-left: 0px !important;
}

#lineas_v {
	margin: -22px 0 0 0;
}

.l_v1 {
	margin-left: 150px !important;
}

.l_v2 {
	margin-left: 225px !important;
}

#cont_notas_seguridad h3 {
	color: #B1B1B3;
	font-family: "Coustard";
	font-size: 28px;
}

.foto_nota {
	width: 180px;
	height: 120px;
	background: url(../img/img_nota.png) no-repeat;
	border: solid 1px #8e9492;
	margin-right: 10px;
}

.nota {
	padding: 10px;
	border: solid 1px #96bcde;
	background-color: #f6f6f6;
	margin-top: 20px;
}

.contenido_nota h3 {
	font-size: 14px !important;
	color: #d61a1a !important;
	margin-top: 0px !important;
}

.contenido_nota {
	width: 280px;
	height: 120px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	overflow: hidden;
	color: #5F6063;
}

.btn_ampliar span {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
	color: white;
}

.btn_ampliar span a {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
	color: white;
}

#banner_container {
	margin-top: 65px;
}

#banner {
	width: 300px;
	height: 250px;
	margin-left: 5px;
	padding: 5px;
	background-color: $gris-superclaro;
	border: 1px solid $gris-medio;
	box-shadow: 0 0 2px 0 $gris-oscuro;
}

#banner_container a img {
	height: 250px;
	width: 300px;
}

#ruta {
	font-size: 11px;
	margin-top: 18px;
	margin-bottom: 10px;
	color: #1566b0;
}

#ruta a {
	text-decoration: underline;
}

#sig_pag {
	color: #1566B0;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 30px;
	padding-right: 7px;
	text-align: right;
}

#desarrollo {
	margin-top: 15px;
}

#fecha {
	font-size: 12px;
	color: #5f6063;
	text-align: right;
}


#desarrollo h2 {
	color: #ca3435;
	font-family: "Coustard";
	font-size: 28px;
	margin-top: 15px;
	margin-bottom: 20px;
}

#desarrollo h3 {
	color: #1566b0;
	font-size: 14px;
	margin-bottom: 20px;
}

#texto_nota {
	margin: 5px 0;
}

.texto_nota {
	font-size: 12px;
	color: #5f6063;
	margin: 20px 0;
}

.texto_nota span {
	font-weight: bold;
}

#ver_todas {
	font-size: 12px;
	width: 418px;
}

#foto_nota {
	background-color: white;
	border: 1px solid $gris-oscuro;
	height: 150px;
	box-shadow: 0 0 10px 0 $gris-oscuro;
}
*/

@import 'responsive';